$bodycolor:#fff;
$maincolor: #970F65;
$secondarycolor:#D41362;
$bluecolor: #2071C4;
$greencolor: #029E6F;
$lightpink:#FFF3FB;
$linkcolor: #000;
$headingcolor:#660562;
$basefont: 'Lato', sans-serif;
$whitecolor: #FFF;
$basefontsize: 1rem;
$DefaultTransition: all 0.5s ease-in-out;
$textcolor: #000;
