@media screen and (max-width: 1920px) {
  header::after {
    content: "";
    background: url(/resources/images/shape.png) 0 0 no-repeat;
    height: 100%;
    position: absolute;
    width: 100%;
    background-size: 60%;
    top: 0;
    right: -1110px;
    z-index: -9;
}
}

@media screen and (max-width: 1366px) {
  header::after {
    content: "";
    background: url(/resources/images/top-image.png) 0 0 no-repeat;
    height: 480px;
    position: absolute;
    width: 604px;
    background-size: 100%;
    top: 0;
    right: -50px;
    z-index: -9;
}

}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 1024px) {
    /* Top Menu */
    nav .menu {
        width: 30px;
        height: 22px;
        cursor: pointer;
        display: none;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        right: 16px;
        top: 43px;
        z-index: 9;
        transform: translateX(0);
      }
      
      nav .menu span {
        width: 100%;
        height: 2px;
        border-radius: 99px;
        background: #000;
        transition: 0.3s ease;
        transform-origin: left;
      }
      
      nav .menu.active span {
        background: var(--whitecolor);
      }
      
      nav .menu.active span:nth-child(1) {
        transform: rotate(44deg);
      }
      
      nav .menu span:nth-child(3) {
        transform-origin: left;
      }
      
      nav .menu.active span:nth-child(3) {
        transform: rotate(-43deg);
      }
      
      nav .menu.active span:nth-child(2) {
        transform: scale(0);
      }
      nav .menu {
        display: flex;
      }
      .navbar-expand-lg .navbar-collapse {justify-content: flex-end;}
      .navbar-collapse{  
        position: fixed;
        left: 0;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: var(--maincolor);
        z-index: 2;
        transform: translateX(100%);
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      .navbar-collapse.active{
        transform: translateX(0%);
      }
      .collapse:not(.show) {
        display: block;
        padding-top: 17%;
    }
    .navbar  ul.navbar-nav .nav-item.nav-dropdown::after{
      content: "\f105";
      font-family: FontAwesome;
      position: absolute;
      color: #fff;
      padding: 0;
      display: block;
      width: 20%;
      right: 285px;
      margin-top: -81px;
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    header.dark .header-top .navbar .navbar-nav .nav-item .sub-menu-block{width: 100%;}
    header.dark .header-top .navbar .navbar-nav .nav-item .nav-link{color: var(--whitecolor);}
          /* inner-page Page */
    .inner-page .wrapper {padding-top: 170px;}
    .inner-page .wrapper .banner .banner-info{padding: 0;}
    .inner-page .wrapper .banner .banner-info img{width: 40%;}
    .inner-page .wrapper .banner .banner-info p{font-size: 1.5rem;}
    .inner-page .wrapper .resource .resource-hub{bottom: -122%;}
    .inner-page .wrapper .resource .resource-hub ul{flex-wrap: wrap;justify-content: center;}
    .inner-page .wrapper .resource .resource-hub ul li{margin-top: 5rem;}
    .inner-page .wrapper .featured-resources{padding-top: 35rem;}
    .inner-page .card figcaption.ipad-text{margin-bottom: 1rem;}
    .inner-page .wrapper .about-program figure .program-video{width: 750px;}   
    .inner-page .wrapper .about-program figcaption{padding-top: 16rem;}

    footer .footer-list{margin: 0;}
    footer .copyright{margin: 0;padding: 0;}
    footer .footer-list > li:nth-child(1){width: 27%;}

    header.dark .header-top .navbar .searchbar{position: absolute;top: -49px;}
    header.dark .header-top .top{height: 50px;}
    header.dark .header-top .top .custom-top li .font-increament{margin: 10px 0;}
    header.dark .header-top .top .custom-top .dropdown .switch{margin: 12px;}
    header.dark{height: 0;}
    header::after{right: -362px;background-size: 62%;}
    header.dark .header-top .navbar .searchbar a .search-icon-input{z-index: 1;}
    .inner-page .wrapper .list .heading{width: 100%;}

    /* List Resource Page */
    .list-resources .wrapper .list .heading{width: 100%;}
    .list-resources .wrapper .searchresult .custom-col .middle-column{padding-left: 0;}
    .list-resources .wrapper .searchresult .custom-col .middle-column .card figcaption h2{height: 80px;}
    .list-resources .wrapper .searchresult .custom-col .left-column {width: 100%; position: fixed;bottom: 0;left: 0;z-index: 99;}
    .list-resources .wrapper .searchresult .custom-col .left-column .apply-filter{position: fixed; bottom: 0;left: 0;right: 0;padding: 12px;z-index: 1;}
    .list-resources .wrapper .searchresult .custom-col .left-column .filter-details{display: none;}
    .list-resources .wrapper .searchresult .custom-col .left-column .apply-filter{display: none;}
    .list-resources .wrapper .searchresult .custom-col .left-column.open .filter-details{width: 100%;}
    .list-resources .wrapper .searchresult .custom-col .left-column .filter-details{height: 90vh;overflow: scroll;}
    .list-resources .wrapper .searchresult .custom-col .left-column .filter-details .apply-filter .apply{margin: 0 12px;}
    .list-resources .wrapper .searchresult .custom-col .left-column .filter-details .apply-filter .cancle{margin: 0 12px;}
    .list-resources .wrapper .searchresult .custom-col .middle-column{padding-left: 0;}
    .list-resources .wrapper .searchresult .custom-col .left-column .filter-details .catergories .mycheck{width: 250px;}
    .list-resources .wrapper .searchresult .custom-col .middle-column .inner-page-list{justify-content: space-around;}
    .list-resources .wrapper .searchresult .custom-col .left-column .filter-details .catergories .mycheck.open{width: 100%;}
    .list-resources .wrapper .searchresult .custom-col .left-column{height: 50px;}
    .list-resources .wrapper .searchresult .custom-col .left-column .filter-details .close {display: block;cursor: pointer;position: absolute;top: 8%;right: 0;padding: 12px 16px;transform: translate(0%, -50%);font-size: 30px;}

    /* Resources details Page */
    .inner-page .resource-program{padding: 1rem;}
    .inner-page .breadcrumb-nav .breadcrumb{padding: 0.125rem 0;}
    .inner-page .breadcrumb-nav .breadcrumb li{font-size: 12px;}
    .inner-page .resource-program .mission .heading h2{font-size: 1.5rem;}
    .inner-page .resource-program .program{flex-wrap: wrap;}
    .inner-page .related-resources ul li .card figcaption h2{height: 90px;}
    .inner-page .resource-program .mission .mission-info{padding-bottom: 0;}
    .inner-page .resource-program .mission .source ul li{overflow-wrap: break-word;}
    .inner-page .related-resources ul li .card figcaption h2{height: 45px;}

    /* CBO Diaries Details Page*/
    .custom-details .resource-program .mission .mission-info .foundation-video img{width: 100%;}
    .custom-details .resource-program .mission .mission-info .fondation-img ul{justify-content: center;}
    .custom-details .resource-program .mission .mission-info .help ul{justify-content: center;}
    .custom-details .resource-program .mission .mission-info .help ul li{margin-top: 0.5rem}

    /* CBO Diaries */
    .diaries-info .filters-card ul{justify-content: space-evenly;}
    .diaries-info .filters .filters-data ul li{padding-left: 4px;}

}

@media screen and (max-width: 991px) {

}

@media (min-width: 768px) and (max-width: 990px) {
    
}
@media only screen and (min-width: 768px)
{

    ul.navbar-nav>li>.sub-menu-block {
        background: rgb(226,240,255);
        background: linear-gradient(0deg, rgba(226,240,255,1) 0%, rgba(255,255,255,1) 50%);
        position: absolute;
        width: 932px;
        color: #FFF;
        box-sizing: border-box;
        z-index: 9;
        opacity: 0;
        list-style-type: none;
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        -webkit-transform: rotateX(90deg);
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        transform: rotateX(90deg);
        -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
        transform-origin: top center;
        padding: 0px;
    }
    ul.navbar-nav>li:hover>.sub-menu-block {
        visibility: visible;
        opacity: 1;
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }

}
@media screen and (max-width: 767px) {  
    .desktop-purpose{display: none !important;}
    .tab-purpose{display:block !important}
    .mobile-purpose{display: none !important;} 

    nav .menu{top:28px;}
    .collapse:not(.show){padding-top: 22%;}
    .navbar  ul.navbar-nav .nav-item.nav-dropdown::after{
      content: "\f105";
      font-family: FontAwesome;
      position: absolute;
      color: #fff;
      padding: 0;
      display: block;
      width: 20%;
      right: 103px;
      margin-top: -86px;
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    ul.navbar-nav>li>.sub-menu-block {
      background: rgb(226,240,255);
      background: linear-gradient(0deg, rgba(226,240,255,1) 0%, rgba(255,255,255,1) 50%);
      position: absolute;
      width: 932px;
      color: #FFF;
      box-sizing: border-box;
      z-index: 9;
      opacity: 0;
      list-style-type: none;
      -webkit-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s;
      -webkit-transform: rotateX(90deg);
      -moz-transform: rotateX(90deg);
      -ms-transform: rotateX(90deg);
      transform: rotateX(90deg);
      -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
      transform-origin: top center;
      padding: 0px;
  }
  ul.navbar-nav>li:hover>.sub-menu-block {
      visibility: visible;
      opacity: 1;
      -webkit-transform: rotateX(0deg);
      -moz-transform: rotateX(0deg);
      -ms-transform: rotateX(0deg);
      transform: rotateX(0deg);
  }

    /* Home Page */   
    .inner-page .wrapper .banner .banner-info p{font-size: 1rem;}
    .inner-page .wrapper .banner .banner-info h1{font-size: 1.3rem;}
    .inner-page .wrapper .featured-resources .heading p{width: 100%;font-size: 1rem;}
    .inner-page .wrapper .about-program figcaption p{width: 100%;}
    .inner-page .card figcaption.ipad-text{height: auto;}
    .inner-page .wrapper .resource .resource-hub{top: 0; bottom: 0;}
    .inner-page .card.typ2{padding-left: 0;}
    .inner-page .card.typ2 figure{position: relative;width: 100%;}
    .inner-page .wrapper .about-program figure .program-video{width: 350px;}
    .inner-page .wrapper .about-program{margin-top: 7rem;}
    .inner-page .wrapper .about-program figure img{width: 35px;}
    .inner-page .wrapper .about-program figcaption{padding-top: 9rem;height: 400px;}
    .inner-page .wrapper .about-program figure{top: -17%}
    .inner-page .card figure img{height: auto;}
    .inner-page .card figure.bigImg{height: auto;}
    .inner-page .wrapper .featured-resources{padding-top: 72rem;}
    .inner-page .wrapper .featured-resources .heading h2{font-size: 2rem;}

    .dark .header-top .navbar .searchbar{margin-top: 5px;left: -7px;}
    footer .footer-list > li:nth-child(1){width: 52%;}
    footer .social-link{margin-bottom: 0;}
    header.dark .header-top .navbar .searchbar input{width: 190px;height: 40px;margin-left: 1rem;}
    header.dark .header-top .top .custom-top .dropdown .switch{margin: 12px 0 12px 12px;}
    header.dark .header-top .top .custom-top li .font-increament{margin: 10px 0;}
    header.dark .header-top .top .custom-top li .font-increament li{padding: 2px 8px;}
    header.dark .header-top .navbar .searchbar a .search-icon-input{width: 2.5rem;height: 2.5rem;line-height: 2.5rem;font-size: 1rem;}
    header.dark .header-top .navbar .searchbar input::placeholder {font-size: 1rem;}
    header.dark .header-top .navbar ul li .navbar-brand img{height: 70px;}
    .inner-page .wrapper{padding: 0;}
    header::after{background-size: 83%;top: 0;right: -116px;z-index: -9;}
    header.dark{height: 135px;}
    header.dark .header-top .navbar .searchbar a .search-icon-input{z-index: 1;}

    /* List Resources Page */
    .list-resources .wrapper .searchresult .custom-col .left-column .filter-details .close{top: 11%;}

    /* Resource details page */
    .inner-page .related-resources{padding-bottom: 0;}

    /*CBO Diaries Details Page */
    .custom-details .resource-program .mission .mission-info .fondation-img ul li img{width: 340px;}
    .custom-details .resource-program .mission .mission-info .help ul li img{width: 345px;}
    .custom-details .resource-program .mission .mission-info .help ul{justify-content: space-between;}
    .inner-page .related-resources .heading h2{font-size: 1.5rem;}

    /* CBO Diaries */
    .diaries-info .filters .filters-data ul{flex-wrap: wrap;}
    .diaries-info .filters .filters-data ul li{margin-bottom: 0.5rem;}
    
}
@media screen and (max-width: 599px) {
    .desktop-purpose{display: none !important;}
    .tab-purpose{display:none !important}
    .mobile-purpose{display: block !important;}
  
}
@media screen and (max-width: 576px) {
    
}
@media screen and (max-width: 450px) {
   
}
@media screen and (max-width: 410px) {
    
}
@media screen and (max-width: 320px) {
}

@media screen and (max-width: 599px) {
   
}
