@media screen and (max-width: 1920px) {
    .searchresults-common .searchresult .custom-col .middle-column .home-list .item .card{
        width: 294px;
    }
}

@media screen and (max-width: 1366px) {
    .searchresults-common .searchresult .custom-col .middle-column .home-list .item .card{
        width: auto;
    }
    .product-price-counter li .prize-details {
        margin-left: -3rem;
    }
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 1024px) {
    /* Product Details */
    .productdetails .services ._product_info .picZoomer-pic-wp{width: 100%;height: 400px !important;}
    .productdetails .services ._product_info ._boxzoom ._product-images .picZoomer img.my_img{height: auto;}
    .productdetails .services ._product_info ._boxzoom .zoom-thumb{margin-top: 0.6rem;order: 2;width: 100%;}
    .productdetails .services ._product_info ._boxzoom ._product-images{width: 100%;}
    .productdetails .services ._product_info ._product-detail-content{padding-left: 1rem;}
    .productdetails .services ._product_info ._product-detail-content ._products_data ._p-add-cart{flex-wrap: wrap;}
    .productdetails .services ._product_info ._product-detail-content ._products_data .price{flex-wrap: wrap;}
    .productdetails .services ._product_info ._product-detail-content ._products_data .price s small{padding-left: 0.8rem;}
    .productdetails .services ._product_info ._product-detail-content ._products_data ._p-add-cart{margin-top: 0rem;}
    .productdetails .services ._product_info .picZoomer-zoom-wp{width: 460px !important;height: 635px !important;left: 17rem !important;}
    .productdetails .product-arrivals .home-list .owl-stage-outer .item .card{min-height: 400px;}
    .productdetails .services ._product_info ._boxzoom{width: auto;display: flex;flex-direction: column;}
    .productdetails .services ._product_info ._product_content{width: 66%;}
    .productdetails .services ._product_info ._product_content ._product-detail-content ._products_data ._p-add-cart a{margin-left: 10px;}
    .card img.card-img-top{min-height: 0;}
    .productdetails .product-arrivals .product-carousel .owl-nav button.owl-next{right: -0.55rem;top: -3rem;}
    .productdetails .product-arrivals .product-carousel .owl-nav button.owl-prev{left: -0.55rem;top: -3rem;}
    .product-arrivals.trending-product .owl-carousel .owl-stage-outer{padding-top: 0;}

    /* Search Result Page */
     .custom-col .left-column {width: 100%; position: fixed;bottom: 0;left: 0;z-index: 99;}
    .searchresults-common .searchresult .custom-col .left-column .apply-filter{position: fixed; bottom: 0;left: 0;right: 0;padding: 12px;z-index: 1;}
    .searchresults-common .searchresult .custom-col .left-column .filter-details{display: none;}
    .searchresults-common .searchresult .custom-col .left-column .apply-filter{display: none;}
    .searchresults-common .searchresult .custom-col .left-column.open .filter-details{width: 100%;}
    .searchresults-common .searchresult .custom-col .left-column .filter-details{height: 90vh;overflow: scroll;}
    .searchresults-common .searchresult .custom-col .left-column .filter-details .apply-filter .apply{margin: 0 12px;}
    .searchresults-common .searchresult .custom-col .left-column .filter-details .apply-filter .cancle{margin: 0 12px;}
    .searchresults-common .searchresult .custom-col .middle-column{padding-left: 0;}
    .searchresults-common .searchresult .custom-col .left-column .filter-details .catergories .mycheck{width: 250px;}
    .searchresults-common .searchresult .custom-col .middle-column .home-list{justify-content: space-around;}
    .searchresults-common .searchresult .custom-col .left-column .filter-details .catergories .mycheck.open{width: 100%;}

    /* Checkout Page */
    .checkout .checkout-details h2{padding-top: 1rem; padding-bottom: 0;}
    .checkout .checkout-details .contact .right{position: fixed;bottom: 0;left: 0;width: 100%;z-index: 99;transition: all 0.5s ease-in-out;height: 50px;margin-left: 0;max-width: 100%;border-top: 1px solid #E6E6E6;}
    .checkout .checkout-details .contact .right.open .summary-data{height: 84vh;overflow: scroll;width: 100%;}
    .checkout .checkout-details .contact .left .contact-details form .form-row{flex-wrap: wrap;}
    .fixed-footer footer{position: relative;}
    .checkout .checkout-details .contact .left .contact-details form .form-row.custom-store li a.btn-outline-primary.pickup-store.custom-active-btn::after{left: 64%;}
    .checkout .checkout-details .contact .left .contact-details form .form-row.custom-store li a.btn-outline-primary.delivery.custom-active::after{left: 21%;}
    .checkout .checkout-details .contact .left .store-address .pickup-address .map iframe{width: 100%;}
    .checkout .checkout-details .contact .left .contact-details form .form-row{justify-content: start;flex-wrap: wrap;}
    .checkout .checkout-details .contact .left .contact-details form .form-row .form-group{padding-right: 1rem;}
    .checkout .checkout-details .contact .right ._border_bottom.checkout-summary h4{text-align: center;}
    .checkout .checkout-details .contact .right .summary-data ._border_bottom .apply-promo .code{width: 100%;}
    .checkout .checkout-details .contact .right .summary-data ._border_bottom .apply-promo .code-btn{right: 0;}

    /* Thank You Page */
    .thankyou .track-order{display: block;}
    .thankyou .track-order ul{justify-content: center;}
    .thankyou .track-order .track-order-details ul{padding-top: 1rem;}
    .thankyou .thank-order-summary .your-order-summary .right{position: fixed;bottom: 0;left: 0;width: 100%;z-index: 99;transition: all 0.5s ease-in-out;height: 50px;margin-left: 0;max-width: 100%;border-top: 1px solid #E6E6E6;}
    .thankyou .thank-order-summary .your-order-summary .right h4{text-align: center;}
    .thankyou .thank-order-summary .your-order-summary .right.open .summary-data{height: 84vh;overflow: scroll;width: 100%;}
    .thankyou .thank-order-summary .your-order-summary .right h4{margin-bottom: 1rem;}
    .thankyou .thank-order-summary .your-order-summary .right .summary-data ._border_bottom div .product_info h4{margin-bottom: 0;text-align: left;}

    /* Payment Gateway Page */
    .payment .home .custompayment img{width: 100%;}

    /* Home page CSS */
    .categories .categ-list li figure.zoom {width: 190px;height: 190px;}
    .categories .categ-list li figure img {width: 200px;height: 200px;}
    .home-list.product-list .card{width: 240px;min-height:370px;}
    .home-list.offer-list li figure {height: 300px;}
    .product-arrivals.trending-product .product-carousel .owl-nav button.owl-next {right:-1rem;}
    .product-arrivals.trending-product .product-carousel .owl-nav button.owl-prev {left:-1rem;}
    .occasion-list figure {height: 140px;}
    .home-list.occasion-list li {width: 32.2%;margin-right: 1rem;}
    .collection-list li figure {height: 375px;} 
    .shop-list li .card img.card-img-top {height: 385px;}
    .home-list.shop-list .card {min-height: 385px;}
    footer .subscribe .form-control {width: 140px;}
    .testimonial .inner-wrapper {padding: 0 6rem;}
}

@media screen and (max-width: 991px) {
    .top-header ul li.search-option {
        width: 400px;
    }
    .categories .categ-list li figure.zoom {
        width: 140px;
        height: 140px;
    }
    .home-list.product-list .card {min-height: 370px;}
    .home-list.occasion-list li {width: 31.9%;}
    .collection-list li figure {height: 275px;}
}

@media (min-width: 768px) and (max-width: 990px) {
    
}
@media only screen and (min-width: 768px)
{
    ul.navbar-nav>li>.sub-menu-block {
        background: rgb(226,240,255);
        background: linear-gradient(0deg, rgba(226,240,255,1) 0%, rgba(255,255,255,1) 50%);
        position: absolute;
        width: 932px;
        color: #FFF;
        box-sizing: border-box;
        z-index: 9;
        opacity: 0;
        list-style-type: none;
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        -webkit-transform: rotateX(90deg);
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        transform: rotateX(90deg);
        -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
        transform-origin: top center;
        padding: 0px;
    }
    ul.navbar-nav>li:hover>.sub-menu-block {
        visibility: visible;
        opacity: 1;
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
}
@media screen and (max-width: 767px) {
    
    .desktop-purpose{display: none !important;}
    .tab-purpose{display:block !important}
    .mobile-purpose{display: none !important;}

    /* Product details page */
    .productdetails .services ._product_info{display: block;}
    .productdetails .services ._product_info ._product_content{width: 100%;}
    .productdetails .services ._product_info ._product_content ._product-detail-content{padding-left: 0;}
    .productdetails .product-arrivals .home-list .owl-stage-outer .item .card{min-height: 500px;}
    .productdetails .services ._product_info ._product_content ._product-detail-content ._products_data .price .stock{margin-bottom: 0.6rem;padding-left: 0;}
    .productdetails .services ._product_info ._product_content ._product-detail-content ._products_data .price s{padding-left: 0;}
    .productdetails .services ._product_info ._product_content ._product-detail-content ._products_data ._p-add-cart{margin-top: 0;}
    .productdetails .services ._product_info ._product_content ._product-detail-content ._products_data ._p-add-cart .wishlist-link{margin-left: 0;}
    .productdetails .services ._product_info ._product_content ._product-detail-content ._products_data ._pin-details{flex-wrap: wrap;}
    /* .productdetails .services ._product_info ._product_content ._product-detail-content ._products_data ._pin-details .pin-info .pincode{width: 100%;} */
    .picZoomer-zoom-wp{display: none !important;}

    /* Search Result Page */
    .custom-col .left-column {width: 100%; position: fixed;bottom: 0;left: 0;z-index: 99;}
    .searchresults-common .searchresult .custom-col .left-column .apply-filter{position: fixed; bottom: 0;left: 0;right: 0;padding: 12px;z-index: 1;}
    .searchresults-common .searchresult .custom-col .left-column .filter-details{display: none;}
    .searchresults-common .searchresult .custom-col .left-column .apply-filter{display: none;}
    .searchresults-common .searchresult .custom-col .left-column.open .filter-details{width: 100%;}
    .searchresults-common .searchresult .custom-col .left-column .filter-details{height: 83vh;overflow: scroll;}
    .searchresults-common .searchresult .custom-col .left-column .filter-details .apply-filter .apply{margin: 0 12px;}
    .searchresults-common .searchresult .custom-col .left-column .filter-details .apply-filter .cancle{margin: 0 12px;}
    .searchresults-common .searchresult .custom-col .middle-column{padding-left: 0;}
    .searchresults-common .searchresult .custom-col .left-column .filter-details .close{top:11%}
    .searchresults-common .searchresult .custom-col .middle-column .product-info{flex-wrap: wrap;justify-content: center;}
    .searchresults-common .searchresult .custom-col .middle-column .product-info .sort{padding-left: 0;}
    .searchresults-common .searchresult .custom-col .middle-column .home-list{justify-content: center;}
    .searchresults-common .searchresult .custom-col .left-column .filter-details .catergories .mycheck{width: 250px;}
    .searchresults-common .searchresult .custom-col .left-column .filter-details .catergories .mycheck.open{width: 100%;}

    /* Checkpout Page */    
    .checkout .checkout-details h2{text-align: center;}
    .checkout .checkout-details .contact .left .contact-details form .form-row.custom-store{flex-wrap: nowrap;}
    .checkout .checkout-details .contact .left .contact-details form .form-row.custom-store li a{width: 100%;}
    .checkout .checkout-details .contact .left .contact-details .delivery-details h4{font-size: 0.8rem;}
    .checkout .checkout-details .contact .left .store-address .pickup-address{flex-wrap: wrap;}
    .checkout .checkout-details .contact .left .store-address .pickup-address .address-details .call{padding-bottom: 3rem;}
    .checkout .dark .top-header .after-login{margin-top: 0;}
    .checkout .checkout-details .contact .left .contact-details form .form-row.custom-store li a.btn-outline-primary.pickup-store.custom-active-btn::after{left: 64%;}
    .checkout .checkout-details .contact .left .contact-details form .form-row.custom-store li a.btn-outline-primary.delivery.custom-active::after{left: 15%;}

    /* Thank You Page */
    .thankyou .billing-shipping ul{flex-wrap: wrap;}
    .thankyou .billing-shipping ul li{padding-bottom: 1rem;}
    .thankyou .track-order ul{flex-wrap: wrap;}
    .thankyou .track-order .track-order-details ul{flex-wrap: wrap;}
    .thankyou .track-order .track-order-details ul li{padding-right: 0;}
    .thankyou .track-order .track-order-details ul li{padding-bottom: 1rem;}
    .thankyou .thank-order-summary .your-order-summary .left ul li .order-product .order_product_details{flex-wrap: wrap;}
    .thankyou .thank-order-summary .your-order-summary .left ul li .order-product .order_product_details ul{flex-wrap: wrap;justify-content: center;}
    .thankyou .thank-order-summary .your-order-summary .left ul li .order-product .order_product_details ul li ul{justify-content: left;}
    .thankyou .thank-order-summary .your-order-summary .left ul li .order-product .order_product_details ul li ul li{padding-bottom: 0;}
    .thankyou .thank-order-summary .your-order-summary .left ul li .order-product .order_product_details ul li{padding-bottom: 0;}
    .thankyou .thank-order-summary .your-order-summary .left ul li .order-product .order_product_details ul li{padding: 0.48rem;}
    .thankyou .thank-order-summary .your-order-summary .left ul li .order-product .order_product_details ul li ul li h5{margin-left: 0.5rem;}
    .thankyou .thank-order-summary .your-order-summary .left ul li .order-product .order_product_details ul li h4{margin-top: 1rem;}
    .thankyou .track-order .order-details ul li{padding-right: 0;}
    .thankyou .track-order{padding: 0;}
    .thankyou .heading h2{font-size: 1.313rem;}
}
@media screen and (max-width: 599px) {
    .desktop-purpose{display: none !important;}
    .tab-purpose{display:none !important}
    .mobile-purpose{display: block !important;}
   
}
@media screen and (max-width: 576px) {
    
}
@media screen and (max-width: 450px) {
   
}
@media screen and (max-width: 410px) {
    
}
@media screen and (max-width: 320px) {
}

/* About page 7 Sept*/
@media screen and (max-width: 599px) {
   
}
