@media screen and (max-width: 1920px) {
  header::after {
    content: "";
    background: url(/resources/images/shape.png) 0 0 no-repeat;
    height: 100%;
    position: absolute;
    width: 100%;
    background-size: 60%;
    top: 0;
    right: -1110px;
    z-index: -9;
}
/* .inner-page header::after {
    content: "";
    background: url(/resources/images/shape.png) 0 0 no-repeat;
    height: 100%;
    position: absolute;
    width: 100%;
    background-size: 40%;
    top: 0;
    right: -1260px;
    z-index: -9;
} */
.inner-page.custom-details header::after{
  content: "";
  background: url(/resources/images/shape.png) 0 0 no-repeat;
  height: 410px;
  position: absolute;
  width: 660px;
  background-size: 100%;
  top: 0;
  right: 0;
  z-index: -9;
}

}

@media screen and (max-width: 1366px) {
  header::after {
    content: "";
    background: url(/resources/images/top-image.png) 0 0 no-repeat;
    height: 480px;
    position: absolute;
    width: 604px;
    background-size: 100%;
    top: 0;
    right: -50px;
    z-index: -9;
}
/* .inner-page header::after {
  content: "";
  background: url(/resources/images/top-image.png) 0 0 no-repeat;
  height: 480px;
  position: absolute;
  width: 604px;
  background-size: 100%;
  top: 0;
  right: 0;
  z-index: -9;
} */
.inner-page.custom-details header::after{
    content: "";
    background: url(/resources/images/top-image.png) 0 0 no-repeat;
    height: 480px;
    position: absolute;
    width: 377px;
    background-size: 100%;
    top: 0;
    right: 0;
    z-index: -9;
}

}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 1024px) {
    /* Top Menu */

    header.dark .header-top .navbar .navbar-nav .nav-item .sub-menu-block{width: 100%;}
    header.dark .header-top .navbar .navbar-nav .nav-item .nav-link{color: var(--linkcolor);}
    header.dark .header-top .navbar .searchbar input{width: 358px;}
    header.dark .header-top .navbar .navbar-nav .nav-item .sub-menu-block{width: 400px;}
    header.dark.fixed-header .header-top .top .custom-top .resp-search a.search .input-search em.fa.fa-search{color: var(--secondarycolor);}
    
    /* inner-page Page */
    .inner-page .wrapper {padding-top: 170px;}
    .home .wrapper {padding-top: 170px;}
    .home .wrapper .banner .banner-info{padding: 0;}
    .home .wrapper .banner .banner-info p{width: 390px;}
    .home .wrapper .banner .banner-info img{width: 50%;}
    .home .wrapper .banner .banner-info img{right: -11px;}
    .home .wrapper .banner .banner-info .btn-primary{margin-bottom: 15px;}
    .home .wrapper .banner .banner-info p{font-size: 1.5rem;}
    .home .wrapper .resource .resource-hub{bottom: -122%;}
    .home .wrapper .resource .resource-hub ul{flex-wrap: wrap;justify-content: center;}
    .home .wrapper .resource .resource-hub ul li{margin-top: 5rem;}
    .home .card figcaption.ipad-text{margin-bottom: 1rem;}
    .home .wrapper .about-program figure .program-video{width: 750px;}   
    .home .wrapper .about-program figcaption{padding-top: 16rem;}
    .home .wrapper .featured-resources{padding-top: 2rem;}
    .home .wrapper .resource .resource-hub ul li figure figcaption {display: none;transform: translateY(100%);transition: .5s all ease-in-out;}
    .home .wrapper .resource .resource-hub ul li figure .icon {position: relative;top:50%}
    .home .wrapper .resource .resource-hub ul li {width: 25%;}
    .home .wrapper .resource .resource-hub ul li.active {width: 25%;transition: .5s all ease-in-out;}
    .home .wrapper .resource .resource-hub ul li.active figure figcaption {display: inline-block;position: absolute;left: 0;width: 100%;background-color: var(--secondarycolor);bottom: -87%;text-align: left;padding: 1rem;z-index: 9;transform: translateY(0%);} 
    .home .wrapper .resource .resource-hub {width: 100%;bottom: -220px;position: static;}
    .home .wrapper .resource .resource-hub ul li figure { position: static;margin:0;}
    .home .wrapper .resource .resource-hub {height: 400px;}
    .home .wrapper .resource .resource-hub ul {position: relative;}
    .home .wrapper .resource .resource-hub ul li figure figcaption h4 {padding-top:0;}
    .home .wrapper .resource .resource-hub ul li.shilp-program figure figcaption {display: inline-block;position: absolute;left: 0;width: 100%;background-color: var(--secondarycolor);bottom: -87%;text-align: left;padding: 1rem;transform: translateY(0%);}
    .home .wrapper .resource .resource-hub ul li.cbo-diaries figure figcaption {background-color: var(--bluecolor);}
    .home .wrapper .resource .resource-hub ul li.leadership-development figure figcaption {background-color: var(--maincolor);}
    .home .wrapper .resource .resource-hub ul li.inst-building figure figcaption {background-color: var(--greencolor);}

    header.dark .header-top .navbar .searchbar{display: none;}
    header.dark .header-top .top .custom-top .resp-search{display: block;}
    header.dark .header-top .top .custom-top .resp-search a.search{position: relative;}
    header.dark .header-top .top .custom-top .resp-search a.search .input-search{position: absolute;top: 13px;right: 12px;}
    header.dark .header-top .top .custom-top .resp-search a.search .input-search em.fa.fa-search{color: var(--whitecolor);}
    header.dark .header-top .navbar .navbar-nav .nav-item .nav-link{font-weight: bold;padding: 38px 25px;}
    header.dark .header-top .navbar .searchbar{position: absolute;top: -49px;right: 27%;}
    header.dark .header-top .top{height: 50px;}
    header.dark .header-top .top .custom-top li .font-increament{margin: 10px 0;}
    header.dark .header-top .top .custom-top .dropdown .switch{margin: 12px;}
    header.dark{height: 0;}
    header::after{width: 410px;right: 0;}
    header.dark .header-top .navbar .searchbar a .search-icon-input{z-index: 1;}

    footer .footer-list{margin: 0;}
    footer .copyright{margin: 0;padding: 0;}
    footer .footer-list > li:nth-child(1){width: 27%;}

   
    .inner-page .wrapper .list .heading{width: 100%;}
    .inner-page header::after{width: 410px;right: 0;height: 330px;}
    .inner-page .related-resources .owl-nav .owl-prev{left: -11px;}
    .inner-page .related-resources .owl-nav .owl-next{right: -11px;}
    .inner-page.custom-details header::after{width: 255px;height: 210px;}

    /* List Resource Page */
    .list-resources .wrapper .list .heading{width: 100%;}
    .list-resources .wrapper .searchresult .custom-col .middle-column{padding-left: 0;}
    .list-resources .wrapper .searchresult .custom-col .middle-column .card figcaption h2{height: 80px;}
    .list-resources .wrapper .searchresult .custom-col .left-column {width: 100%; position: fixed;bottom: 0;left: 0;z-index: 99;}
    .list-resources .wrapper .searchresult .custom-col .left-column .apply-filter{position: fixed; bottom: 0;left: 0;right: 0;padding: 12px;z-index: 1;}
    .list-resources .wrapper .searchresult .custom-col .left-column .filter-details{display: none;}
    .list-resources .wrapper .searchresult .custom-col .left-column .apply-filter{display: none;}
    .list-resources .wrapper .searchresult .custom-col .left-column.open .filter-details{width: 100%;}
    .list-resources .wrapper .searchresult .custom-col .left-column .filter-details{height: 90vh;overflow: scroll;}
    .list-resources .wrapper .searchresult .custom-col .left-column .filter-details .apply-filter .apply{margin: 0 12px;}
    .list-resources .wrapper .searchresult .custom-col .left-column .filter-details .apply-filter .cancle{margin: 0 12px;}
    .list-resources .wrapper .searchresult .custom-col .middle-column{padding-left: 0;}
    .list-resources .wrapper .searchresult .custom-col .left-column .filter-details .catergories .mycheck{width: 250px;}
    .list-resources .wrapper .searchresult .custom-col .middle-column .inner-page-list{justify-content: space-around;}
    .list-resources .wrapper .searchresult .custom-col .left-column .filter-details .catergories .mycheck.open{width: 100%;}
    .list-resources .wrapper .searchresult .custom-col .left-column{height: 50px;z-index: 9;}
    .list-resources .wrapper .searchresult .custom-col .left-column .filter-details .close {display: block;cursor: pointer;position: absolute;top: 24px;right: 0;padding: 12px 16px;transform: translate(0%, -50%);font-size: 30px;}
    .list-resources .wrapper .searchresult .custom-col .middle-column ul .item .card{max-width: 100%;}
    .list-resources .wrapper .searchresult .custom-col .middle-column ul .item{width: 50%;padding: 0 10px;}
    .list-resources .wrapper .searchresult .custom-col .left-column .applied-filter .btn-outline{display: none;position: absolute;right: 64px;top: 8px;}
    .list-resources .wrapper .searchresult .custom-col .left-column .applied-filter .fa-filter{display: block;font-size: 1.3rem;margin-right: 8px;}
    .list-resources .wrapper .searchresult .custom-col .left-column .applied-filter{justify-content: unset;}
    .list-resources .wrapper .searchresult .custom-col .left-column.open{z-index: 99999;}

    /* Resources details Page */
    .inner-page .resource-program{padding: 1rem;}
    .inner-page .breadcrumb-nav .breadcrumb{padding: 0.125rem 0;}
    .inner-page .breadcrumb-nav .breadcrumb li{font-size: 12px;}
    .inner-page .resource-program .mission .heading h2{font-size: 1.5rem;}
    .inner-page .resource-program .program{flex-wrap: wrap;}
    .inner-page .related-resources ul li .card figcaption h2{height: 90px;}
    .inner-page .resource-program .mission .mission-info{padding-bottom: 0;}
    .inner-page .resource-program .mission .source ul li{overflow-wrap: break-word;}
    /* .inner-page .related-resources ul li .card figcaption h2{height: 45px;} */

    /* CBO Diaries Details Page*/
    .custom-details .resource-program .mission .mission-info .foundation-video img{width: 100%;}
    .custom-details .resource-program .mission .mission-info .fondation-img ul{justify-content: center;}
    .custom-details .resource-program .mission .mission-info .help ul{justify-content: center;}
    .custom-details .resource-program .mission .mission-info .help ul li{margin-top: 0.5rem}

    /* CBO Diaries */
    .diaries-info .filters-card ul{justify-content: flex-start;}
    .diaries-info .filters .filters-data ul li{padding-left: 4px;}
    .diaries-info .filters-card ul .item{width: 50%; padding: 0 10px;margin: 0;}
    .diaries-info .filters-card ul .item .card{max-width: 100%;}

}

@media screen and (max-width: 991px) {
  .home .wrapper .resource .resource-hub ul li figure figcaption {display: none;transform: translateY(100%);transition: .5s all ease-in-out;}
  .home .wrapper .resource .resource-hub ul li figure .icon {position: relative;top:50%}
  .home .wrapper .resource .resource-hub ul li {width: 25%;}
  .home .wrapper .resource .resource-hub ul li.active {width: 25%;transition: .5s all ease-in-out;}
  .home .wrapper .resource .resource-hub ul li.active figure figcaption {display: inline-block;position: absolute;left: 0;width: 100%;background-color: var(--secondarycolor);bottom: -87%;text-align: left;padding: 1rem;z-index: 9;transform: translateY(0%);} 
  .home .wrapper .resource .resource-hub {width: 100%;bottom: -220px;position: static;}
  .home .wrapper .resource .resource-hub ul li figure { position: static;margin:0;}
  .home .wrapper .resource .resource-hub {height: 400px;position: relative;bottom: inherit;z-index: 99;}
  .home .wrapper .resource .resource-hub ul {position: relative;}
  .home .wrapper .resource .resource-hub ul li figure figcaption h4 {padding-top:0;}
  .home .wrapper .resource .resource-hub ul li.shilp-program figure figcaption {display: inline-block;position: absolute;left: 0;width: 100%;background-color: var(--secondarycolor);bottom: -87%;text-align: left;padding: 1rem;transform: translateY(0%);}
  .home .wrapper .resource .resource-hub ul li.cbo-diaries figure figcaption {background-color: var(--bluecolor);}
  .home .wrapper .resource .resource-hub ul li.leadership-development figure figcaption {background-color: var(--maincolor);}
  .home .wrapper .resource .resource-hub ul li.inst-building figure figcaption {background-color: var(--greencolor);}
}

@media (min-width: 768px) and (max-width: 990px) {
    
}
@media only screen and (min-width: 768px)
{
  .collapse:not(.show) {display: block;}
  .navbar-expand-lg .navbar-collapse {display: flex!important;flex-basis: auto;}
  .navbar-expand-lg .navbar-nav {flex-direction: row;}
    ul.navbar-nav>li>.sub-menu-block {
        background: rgb(226,240,255);
        background: linear-gradient(0deg, rgba(226,240,255,1) 0%, rgba(255,255,255,1) 50%);
        position: absolute;
        width: 932px;
        color: #FFF;
        box-sizing: border-box;
        z-index: 9;
        opacity: 0;
        list-style-type: none;
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        -webkit-transform: rotateX(90deg);
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        transform: rotateX(90deg);
        -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
        transform-origin: top center;
        padding: 0px;
    }
    ul.navbar-nav>li:hover>.sub-menu-block {
        visibility: visible;
        opacity: 1;
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    
    
    header.dark .header-top .navbar .searchbar input{width: 372px;}
}
@media screen and (max-width: 767px) {  
    .desktop-purpose{display: none !important;}
    .tab-purpose{display:block !important}
    .mobile-purpose{display: none !important;} 
    nav .menu {
          width: 30px;
          height: 22px;
          cursor: pointer;
          display: none;
          align-items: center;
          flex-direction: column;
          justify-content: space-between;
          position: absolute;
          right: 16px;
          top: 43px;
          z-index: 9;
          transform: translateX(0);
        }
        
        nav .menu span {
          width: 100%;
          height: 2px;
          border-radius: 99px;
          background: var(--textcolor);
          transition: 0.3s ease;
          transform-origin: left;
        }
        
        nav .menu.active span {
          background: var(--whitecolor);
        }
        
        nav .menu.active span:nth-child(1) {
          transform: rotate(44deg);
        }
        
        nav .menu span:nth-child(3) {
          transform-origin: left;
        }
        
        nav .menu.active span:nth-child(3) {
          transform: rotate(-43deg);
        }
        
        nav .menu.active span:nth-child(2) {
          transform: scale(0);
        }
        nav .menu {
          display: flex;
        }
        .navbar-expand-lg .navbar-collapse {justify-content: flex-end;}
        .navbar-collapse{  
          position: fixed;
          left: 0;
          top: 0px;
          width: 100%;
          height: 100%;
          background-color: var(--maincolor);
          z-index: 2;
          transform: translateX(100%);
          transition: 0.5s;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
        .navbar-collapse.active{
          transform: translateX(0%);
        }
        .collapse:not(.show) {
          display: block;
          padding-top: 17%;
      }
      .navbar  ul.navbar-nav .nav-item.nav-dropdown::after{
        content: "\f105";
        font-family: FontAwesome;
        position: absolute;
        color: #fff;
        padding: 0;
        display: block;
        width: 20%;
        right: -15%;
        top: 21.5%;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        padding-top: 10px;
        padding-bottom: 10px;
        transform: translate(-50%, -50%);
      }
    header.dark .header-top .navbar ul.navbar-nav li.nav-item.nav-dropdown{position: relative;}
    nav .menu{top:28px;}
    .collapse:not(.show){padding-top: 22%;}
    .navbar  ul.navbar-nav .nav-item.nav-dropdown::after{
      content: "\f105";
      font-family: FontAwesome;
      position: absolute;
      color: #fff;
      padding: 0;
      display: block;
      width: 20%;
      right: -11%;
      top: 50%;
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      padding-top: 10px;
      padding-bottom: 10px;
      transform: translate(-50%, -50%);
    }
    ul.navbar-nav>li>.sub-menu-block {
      background: rgb(226,240,255);
      background: linear-gradient(0deg, rgba(226,240,255,1) 0%, rgba(255,255,255,1) 50%);
      position: absolute;
      width: 932px;
      color: #FFF;
      box-sizing: border-box;
      z-index: 9;
      opacity: 0;
      list-style-type: none;
      -webkit-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s;
      -webkit-transform: rotateX(90deg);
      -moz-transform: rotateX(90deg);
      -ms-transform: rotateX(90deg);
      transform: rotateX(90deg);
      -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
      transform-origin: top center;
      padding: 0px;
  }
  ul.navbar-nav>li:hover>.sub-menu-block {
      visibility: visible;
      opacity: 1;
      -webkit-transform: rotateX(0deg);
      -moz-transform: rotateX(0deg);
      -ms-transform: rotateX(0deg);
      transform: rotateX(0deg);
  }
  header.dark .header-top .navbar .searchbar{display: none;}
  header.dark .header-top .top .custom-top .resp-search{display: block;}
  header.dark .header-top .top .custom-top .resp-search a.search{position: relative;}
  header.dark .header-top .top .custom-top .resp-search a.search .input-search{position: absolute;top: 13px;right: 12px;}
  header.dark .header-top .top .custom-top .resp-search a.search .input-search em.fa.fa-search{color: #fff}
  header.dark.fixed-header .header-top .top .custom-top .resp-search a.search .input-search em.fa.fa-search{color: var(--secondarycolor);}
  header.dark .header-top .navbar .navbar-nav .nav-item .nav-link{padding: 15px 25px;color: var(--whitecolor);font-size: 1rem;font-weight: 400;}
  header.dark .header-top .navbar .searchbar input{width: 190px;height: 40px;margin-left: 1rem;}
  header.dark .header-top .top .custom-top .dropdown .switch{margin: 12px 0 12px 12px;}
  header.dark .header-top .top .custom-top li .font-increament{margin: 10px 0;}
  header.dark .header-top .top .custom-top li .font-increament li{padding: 2px 8px;}
  header.dark .header-top .navbar .searchbar a .search-icon-input{width: 2.5rem;height: 2.5rem;line-height: 2.5rem;font-size: 1rem;}
  header.dark .header-top .navbar .searchbar input::placeholder {font-size: 1rem;}
  header.dark .header-top .navbar ul li .navbar-brand img{height: 70px;}
  header::after{background-size: 100%;top: 0;right: 0;z-index: -9;height: 380px;width: 239px;}
  header.dark{height: 135px;}
  header.dark .header-top .navbar .searchbar a .search-icon-input{z-index: 1;right: -94px;}
  header.dark .header-top .navbar .searchbar input {width: 356px;}
  .dark .header-top .navbar .searchbar{margin-top: 5px;left: -7px;}
  header.dark .header-top .navbar .searchbar .fa{display: block;}
  header.dark .header-top .navbar .social-info{display: block;}
  

  
  footer{padding: 1rem 0 0.5rem;}
  footer .footer-list{border-bottom: 1px solid #fff;}
  footer .footer-list h6{padding-top: 0;}
  footer .footer-list > li p{margin-bottom: 0; border-bottom: 1px solid #FFFF;}
  footer .footer-list > li:nth-child(1){width: 100%;text-align: center;}
  footer .social-link{margin-bottom: 0;}
  footer .copyright{flex-wrap: wrap;justify-content: center;margin-top: 7px;}
  footer .copyright li{width: 100%;text-align: center;}
  .footer-link.contact-info{display: flex;}
  .footer-link.contact-info li{margin-right: 12px;}
  footer h5{display: inline-block;vertical-align: middle;margin-bottom: 13px;margin-right: 5px;}
  footer .social-link{display: inline-block;}
  footer .footer-link li{margin-bottom: 5px;}
  footer .copyright li{font-size: 0.85rem;}

    /* Home Page */   
    .home .wrapper{padding: 0;}
    .home .wrapper .banner .banner-info p{font-size: 1rem;}
    .home .wrapper .banner .banner-info h1{font-size: 1.3rem;}
    .home .wrapper .featured-resources .heading p{width: 100%;font-size: 1rem;}
    .home .wrapper .about-program figcaption p{width: 100%;}
    .home .card figcaption.ipad-text{height: auto;}
    .home .wrapper .resource .resource-hub{top: 0; bottom: 0;}
    .home .card.typ2{padding-left: 0;}
    .home .card.typ2 figure{position: relative;width: 100%;}
    .home .wrapper .about-program figure .program-video{width: 350px;}
    .home .wrapper .about-program{margin-top: 7rem;}
    .home  .wrapper .about-program figure img{width: 35px;}
    .home .wrapper .about-program figcaption{padding-top: 9rem;height: 400px;}
    .home .wrapper .about-program figure{top: -17%}
    .home .card figure img{height: auto;}
    .home .card figure.bigImg{height: auto;}
    .home .wrapper .featured-resources .heading h2{font-size: 2rem;}
    .home .wrapper .banner .banner-info p{width: 239px;}
    .home .wrapper .banner .banner-info img{width: 50%;}
    .home .wrapper .banner .banner-info img{right: -11px;}
    .home .wrapper .banner .banner-info .btn-primary{margin-bottom: 15px;}
    .home .wrapper .about-program figcaption h4{font-size: 1.8rem;}
    .home .wrapper .featured-resources .heading h2{font-size: 1.8rem;}

    .inner-page .wrapper{padding: 0;}
    .inner-page .breadcrumb-nav .breadcrumb {padding: 0.125rem 0;}
    .inner-page.custom-details header::after{width: 200px;}
    .inner-page header::after{background-size: 100%;top: 0;right: 0;z-index: -9;height: 380px;width: 239px;}

    /* List Resources Page */
    .list-resources .wrapper .searchresult .custom-col .left-column .filter-details .close{top: 11%;}
    .list-resources .wrapper .breadcrumb-nav .breadcrumb{padding: 0.125rem 0;}
    .list-resources .wrapper .searchresult .custom-col .middle-column ul .item .card{max-width: 100%;}
    .list-resources .wrapper .searchresult .custom-col .middle-column ul .item{width: 100%;}
    .list-resources .wrapper .searchresult .custom-col .left-column .filter-details{height: 85vh;}
    .list-resources .wrapper .searchresult .custom-col .left-column .filter-details .close{top: 3.5%;}
    .list-resources .wrapper .searchresult .custom-col .left-column .applied-filter .fa-filter{display: block;font-size: 1.3rem;margin-right: 8px;}
    .list-resources .wrapper .searchresult .custom-col .left-column .applied-filter{justify-content: unset;}

    /* Resource details page */
    .inner-page .related-resources{padding-bottom: 0;}

    /*CBO Diaries Details Page */
    .custom-details .resource-program .mission .mission-info .fondation-img ul li img{width: 340px;}
    .custom-details .resource-program .mission .mission-info .help ul li img{width: 345px;}
    .custom-details .resource-program .mission .mission-info .help ul{justify-content: space-between;}
    .inner-page .related-resources .heading h2{font-size: 1.5rem;}

    /* CBO Diaries */
    .diaries-info .filters .filters-data ul{flex-wrap: wrap;}
    .diaries-info .filters .filters-data ul li{margin-bottom: 0.5rem;}
    .diaries-info .filters-card ul .item{width: 100%;}

    
    
}
@media screen and (max-width: 599px) {
    .desktop-purpose{display: none !important;}
    .tab-purpose{display:none !important}
    .mobile-purpose{display: block !important;}
    .home .wrapper .resource .resource-hub ul li figure .icon img {height: 50px;position: static;transform: none;}
    .home .wrapper .resource .resource-hub ul li figure .icon {position: relative;top: 0;transform: none;left: inherit;height: 50px;}
    .home .wrapper .resource .resource-hub ul li.shilp-program figure figcaption,
    .home .wrapper .resource .resource-hub ul li.active figure figcaption,
    .home .wrapper .resource .resource-hub ul li.active figure figcaption {bottom:-154%;z-index: auto;}
    .home .wrapper .resource .resource-hub ul li figure .icon {width: auto;}

}
@media screen and (max-width: 576px) {
    
}
@media screen and (max-width: 450px) {
   
}
@media screen and (max-width: 410px) {
    
}
@media screen and (max-width: 320px) {
}

@media screen and (max-width: 599px) {
   
}
