@import 'variable';
@import 'mixing';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $whitecolor;
    font-family: $basefont;
    font-size: $basefontsize;
    color: $textcolor;
}

::before,
::after {
    font-family: 'FontAwesome', serif;
}
.container, .container-lg, .container-md, .container-sm {
    max-width: 1326px !important;
}
// img {
//     width: 100%;
//     height: 100%;
// }

a {
    text-decoration: none;
    transition: $DefaultTransition;
}
.row-zero {
    margin-left: 0;
    margin-right: 0;
  }
  
  .row-zero > [class^="col"] {
    padding-left: 0;
    padding-right: 0;
  }
  
  .row-xxs {
    margin-left: -0.5px;
    margin-right: -0.5px;
  }
  
  .row-xxs > [class^="col"] {
    padding-left: 1px;
    padding-right: 0.5px;
  }
  
  .row-xs {
    margin-left: -2px;
    margin-right: -2px;
  }
  
  .row-xs > [class^="col"] {
    padding-left: 2px;
    padding-right: 2px;
  }
  
  .row-sm {
    margin-left: -15px;
    margin-right: -15px;
  }
  
  .row-sm > [class^="col"] {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .row-md {
    margin-left: -20px;
    margin-right: -20px;
  }
  
  .row-md > [class^="col"] {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .row-lg {
    margin-left: -40px;
    margin-right: -40px;
  }
  
  .row-lg > [class^="col"] {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .no-margin {
    margin-left: 0;
    margin-right: 0;
  }
  
  .no-margin > [class^="col"] {
    padding-left: 0;
    padding-right: 0;
  }
  
  .row-grid {
    margin-bottom: 1rem;
  }
  
  .row-grid-2 {
    margin-bottom: 3rem;
  }
  
  .row-grid-3 {
    margin-bottom: 2rem;
  }

.btn-primary {
    @include btnstyle;
    @include btnPrimary;
    &.btn-sm{
        width: 230px;padding:0 0.2rem;letter-spacing: 0.5px;z-index:1;
    }
    &:hover {
        background: $maincolor;
        border:1px solid $maincolor;
    }
}

.btn-outline {
    @include btnstyle;
    @include btnoutline;
    &:hover {
        background: $maincolor;
        border:1px solid $maincolor;
        color:$whitecolor;
    }
}

.bgBlue {
    background: $secondarycolor;
}
.btn-secondary {
    @include btnstyle;
    background-color: transparent;
    color:$maincolor;
    @include btn-position;
    border:1px solid $maincolor;
    height: 40px;
    display: inline-block;

    &:hover {
        color: $whitecolor;
        background-color: $maincolor;
    }
}

.btn-outline-primary {
    border: 1px solid $maincolor;
    color: $maincolor;
    border-radius: 0;

    &:hover {
        color: #FFF;
        background-color: #043F7D;
        border: 1px solid #043F7D;
    }
}

.card {border:0;border-radius:0;
    figure {margin:0;
        & img {width: 100%;height:100%}
        & iframe {width: 100%;height:100%}
        &.bigImg {height: 390px;}
    }
    figcaption {padding:1rem;height: 210px;
        background: $lightpink;
        h2 {font-size: 1.125rem;font-weight: 700;margin-top: 1rem;}
        p {font-size: 1.125rem;}
        .cards-dtls {
            display: flex;flex-direction: row;justify-content: space-between;margin:0;padding:0;
            li {list-style-type: none;font-size: 0.875rem;}
        }
    }
    &.typ2 {padding-left: 310px;position: relative; background: $lightpink;margin-bottom:30px;
        figure {width: 310px;margin:0;height:180px;
            position: absolute;top:0;left: 0;
            img {width: 100%;}
        }
        figcaption {height:180px;position: relative;
            .cards-dtls {position: absolute;bottom:1rem;width: 90%;}
        }
    }
}
.lbl-txt {
    font-size: 12px;font-weight: 600;padding:0 5px;color:$whitecolor;
    &.secondaryColor {
        background:$secondarycolor;
    }
    &.mainColor {
        background:$maincolor;
    }
    &.blueColor {
        background:$bluecolor;
    }
    &.greenColor {
        background:$greencolor;
    }
}

// Header
.dark{
    background-image: url(/resources/images/top-image.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 480px;
    position: absolute;
    width: 100%;
    // transition: 0.5s all ease-in-out;
    .header-top{
      z-index: 9;
      // position: relative;
      width: 100%;
      .top{
        height: 40px;background-color: rgba(0, 0, 0, 0.05);
        .custom-top{
          display: flex;
          list-style: none;
          justify-content: flex-end;
          li{
            .font-increament{
              display: flex;
              margin: 5px 0;
              padding: 0;
              list-style-type: none;
              border: 1px solid $secondarycolor;
              border-radius: 5px;
              color: $secondarycolor;
              justify-content: space-between;
              li{
                padding: 4px 13px;
                width: 33%;
                font-size: 1rem;
                font-weight: 700;
                height: 30px;
                a{
                  color: $secondarycolor;
                }
                &:first-child{
                  border-radius: 5px 0 0 5px;
                }
                &.active{
                  background-color: #000000;
                  a{color: #fff;}
                }    
              }
            }
          }
          .dropdown{
           
            /* The switch - the box around the slider */
            .switch {
              position: relative;
              display: inline-block;
              width: 30px;
              height: 30px;
              margin: 6px;
            }

            /* Hide default HTML checkbox */
            .switch input {
              opacity: 0;
              width: 0;
              height: 0;
            }

            /* The slider */
            .slider {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              // background-color: #ccc;
              -webkit-transition: 0.4s;
              transition: 0.4s;
            }

            .slider:before {
              position: absolute;
              content: "";
              height: 30px;
              width: 30px;
              left: 0px;
              bottom: 4px;
              top: 0;
              bottom: 0;
              margin: auto 0;
              -webkit-transition: 0.4s;
              transition: 0.4s;
              // box-shadow: 0 0px 15px #2020203d;
              background-image: url('/resources/images/icon/theme-light.png');
              background-repeat: no-repeat;
              background-position: center;
              border: 1px solid $secondarycolor;
              background-size: 18px 18px;
              background-color: #000000;
            }

            input:checked + .slider:before {
              -webkit-transform: rotate(360deg);
              -ms-transform: rotate(360deg);
              transform: rotate(360deg);
              background-image: url('/resources/images/icon/theme-light.png');
              background-repeat: no-repeat;
              background-position: center;
              background-size: 18px 18px;
              background-color: $whitecolor;
            }

            /* Rounded sliders */
            .slider.round {
              border-radius: 34px;
            }

            .slider.round:before {
              border-radius: 50%;
            }

          }
        }
      }
      .navbar {
        padding: 0;
        ul{
          list-style: none;
          padding: 0;
          li{
            .navbar-brand{
              img{height: 110px;}
            }
          }
        }
        .navbar-nav{
          .nav-item{
            .nav-link{
              color: #0D0D0D;
              font-size: 1.25rem;
              font-weight: bold;
              padding: 38px 25px;
              &:hover{
                background-color: $secondarycolor;
                color: $whitecolor;
              }
              &:active{
                background: $secondarycolor;
                color: $whitecolor;
              }
            }
           
            .sub-menu-block{
              width: 400px;
              background-color: $whitecolor;
              background: $whitecolor;
              box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
              a{
                img{width: 40px;height: 40px;margin-right: 1.438rem;position: relative;}
                color: $linkcolor;
                font-size: 1.125rem;
                font-weight: 700;
                display: flex;
                align-items: center;
                span{
                  position: absolute;
                  left: 5rem;
                  padding-left: 15px;
                  cursor: pointer;
                  align-items: center;
                }
              }
              li{
                ul{
                  li{
                    padding: 1.188rem;
                    &.submenu-ship{border-bottom: 1px solid $greencolor;border-left: 0.75rem solid $secondarycolor;}
                    &.submenu-diaries{border-bottom: 1px solid $secondarycolor; border-left: 0.75rem solid $bluecolor; a{img{width: 31px;}}}
                    &.submenu-leadership{border-bottom: 1px solid $maincolor; border-left: 0.75rem solid $maincolor; a{img{width: 37px;}}}
                    &.submenu-building{border-bottom: 1px solid $bluecolor;border-left: 0.75rem solid $greencolor;}
                  }
                 
                }
              }

            }
          }
          .navActive:hover{
            background-color: $secondarycolor;
          }
        }
      
        .searchbar{
          input{
            width: 350px;
            position: relative;
            height: 50px;
            &::placeholder{
              color: #000000;
              font-size: 1.25rem;
            }
          }
          .search-icon-input{
            width: 3.125rem;
            height: 3.125rem;
            background: #D41362;
            top: 38px;
            right: 13px;
            border-radius: 0px 5px 5px 0;
            position: absolute;
            z-index: 2;
            display: block;
            line-height: 3rem;
            text-align: center;
            pointer-events: none;
            color: $whitecolor;
            font-size: 30px;
          }
        }
      }
    }
    &.fixed-header {
      background:  $whitecolor;
      position: fixed;
      top: 0;
      z-index: 99;
      box-shadow: 0px -3px 9px 0px #000;
      height: auto;
      transition: 0.5s all ease-in-out;
      &.navbar {
        &.navbar-brand {
          img {
            width: 75%;
            height: auto;
          }
        }
      }
    }
}

.wrapper{
  padding-top: 170px;
  .banner{
    .banner-info{
      padding: 5.063rem 0rem 5.063rem 5.063rem;
      position: relative;
      h1{
        color: $headingcolor;
        font-weight: 800;
        padding-bottom: 1rem;
      }
      p{
        font-size: 1.875rem;
        color: #000000;
        font-weight: 300;
        b{
          color: $maincolor;
        }
      }
      img{
        position: absolute;
        bottom: -6px;
      }
    }
  }
  .resource{
    background-image: url(/resources/images/resource.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 462px;
    width: 100%;
    background-size: cover;
    position: relative;
    .resource-img{
      img{    
        width: 100%;
        max-height: 462px;
        object-fit: cover;
        height: 100%;
      }
    }
    .resource-hub{
      position: absolute;
      bottom: -39%;
      ul{
        list-style-type: none;
        padding: 0;
        display: flex;
        li{
          text-align: center;
          width: 330px;
          padding: 1rem;

          &.shilp-program{
            background-color: $secondarycolor;
            figure{
              .icon{
                background-color: $secondarycolor;
              }
            }
          }
          &.cbo-diaries{
            background-color: $bluecolor;
            figure{
              .icon{
                background-color: $bluecolor;
                img{width: 3.875rem;}
              }
            }
          }
          &.leadership-development{
            background-color: $maincolor;
            figure{
              .icon{
                background-color: $maincolor;
                img{width: 4.625rem;}
              }
            }
          }
          &.inst-building{
            background-color: $greencolor;
            figure{
              .icon{
                background-color: $greencolor;
              }
            }
          }
          figure{
            position: relative;
            .icon{
              position: absolute;
              top: -32%;
              left: 27%;
              border-radius: 50%;
              padding: 20px;
              width: 120px;
              height: 120px;
              img{width: 80px;height: 80px; 
                // filter: invert(89%) sepia(89%) saturate(1%) hue-rotate(188deg) brightness(4) contrast(97%);
              };
            }
            figcaption{
              h4{
                font-size: 1.625rem;
                color: $whitecolor;
                font-weight: bold;
                padding-top: 3.2rem;
              }
              p{
                color: $whitecolor;
                padding-top: 1.25rem;
              }
              .text-center{
                padding-top: 1.875rem;
                .btn-outline{
                  padding: 0 11px;
                }
              }
            }
          }
        }
      }
    }
  }
  .featured-resources{
    padding-top: 13rem;
    .heading{
      text-align: center;
      margin-bottom: 1.063rem;
      h2{
        font-size: 2.5rem;
        font-weight: 700;
        color: $maincolor;
      }
      p{
        font-size: 1.5rem;
        width: 723px;
        font-weight: 400;
        margin: 0 auto;
      }
    }
    .card{
      figure{
        span{
          img{
            width: 35px;
            height: 35px;
          }
          position: absolute;
          top: 39%;
          z-index: 99;
          left: 46%;
        }
      }
      figcaption{
        .cards-dtls{
          .article{height: 1.25rem}
        }
      }
    }

  }

  .about-program{
    position: relative;
    margin-top: 17rem;
    figure{
      position: absolute;
      top: -43%;
      left: 50%; 
      transform: translateX(-50%);
      img{
        box-shadow: rgb(1 0 0 / 50%) 0px 2px 8px 0px;
      }
      span{
        position: absolute;
        left: 44%;
        top: 38%;
      }
    }
    figcaption{
      text-align: center;
      background-color: $secondarycolor;
      height: 520px;
      padding-top: 19rem;
      color: $whitecolor;
      h4{
        font-size: 2.5rem;
        font-weight: 700;
      }
      p{
        font-size: 1.125rem;
        width: 599px;
        margin: 1.4rem auto;
      }
    }
  }
}

footer {
  position: relative;padding: 2.5rem 0 1.75rem;background-color: $maincolor;margin-top: 3.125rem;
  .footer-list{
      padding: 0;display: flex;justify-content: space-between;
      margin:0 7rem;flex-wrap: wrap;
      > li{
          list-style-type: none;
          &:nth-child(1){
              width: 24%;
          }
          a{img{height: 90px;}}
      }
      h6{
        text-transform: uppercase;
        font-weight: 700;
        margin: 0;
        padding-top: 2.25rem;
      }
  }
  li{
      line-height: 1.5rem;margin-bottom: 15px;color:$whitecolor;list-style-type: none;font-size: 0.875rem;
      a{
          color:inherit;
      }
  }

  .footer-link {
      padding: 0;
      margin: 0;
      &.contact-info{
        li{
          font-weight: 700;
        }
      }
      li {
          position: relative;

          i.fa {
              margin-right: 8px;

              &.fa-mobile {
                  font-size: 20px;
              }

              &.fa-envelope {
                  font-size: 12px;
              }

              &.fa-map-marker {
                  position: absolute;
                  left: 0;
                  top: 4px;
              }
          }

          &.address {
              padding-left: 1.2rem;
          }
      }
  }
  .social-link{
      padding:0;margin-bottom:2.563rem;
      li{
          display: inline-block;margin-right:10px;
          i.fa{
              color:$whitecolor;font-size: 26px;
          }

          &:last-child {
              margin-right: 0;
          }
      }
  }
  h5{
      color: $whitecolor;margin-bottom: 15px;font-size: 0.875rem;font-weight: 700;
      &.stay{
          margin-bottom: 6px;
      }
  }
  .subscribe{
      .form-control{
          @include font(16px,400);width: 190px;border:1px solid ;border-radius:0;
          &::placeholder{
              color:$textcolor;
          }
      }

      .btn-primary {
          padding: 0 0.8rem;
      }
  }
  .copyright{
      display: flex;justify-content: space-between;padding: 0 6.75rem;
      align-items: center;margin-top:3rem;margin-bottom:0;
      li{
          list-style-type: none;line-height: normal;margin-bottom: 0;font-size: 0.75rem;
      }
  }
}