@import 'variable';
@import 'mixing';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $bodycolor;
    font-family: $basefont;
    font-size: $basefontsize;
    color: $textcolor;
}

::before,
::after {
    font-family: 'FontAwesome', serif;
}
.container, .container-lg, .container-md, .container-sm {
    max-width: 1326px !important;
}
// img {
//     width: 100%;
//     height: 100%;
// }

a {
    text-decoration: none;
    transition: $DefaultTransition;
}
.row-zero {
    margin-left: 0;
    margin-right: 0;
  }
  
  .row-zero > [class^="col"] {
    padding-left: 0;
    padding-right: 0;
  }
  
  .row-xxs {
    margin-left: -0.5px;
    margin-right: -0.5px;
  }
  
  .row-xxs > [class^="col"] {
    padding-left: 1px;
    padding-right: 0.5px;
  }
  
  .row-xs {
    margin-left: -2px;
    margin-right: -2px;
  }
  
  .row-xs > [class^="col"] {
    padding-left: 2px;
    padding-right: 2px;
  }
  
  .row-sm {
    margin-left: -15px;
    margin-right: -15px;
  }
  
  .row-sm > [class^="col"] {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .row-md {
    margin-left: -20px;
    margin-right: -20px;
  }
  
  .row-md > [class^="col"] {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .row-lg {
    margin-left: -40px;
    margin-right: -40px;
  }
  
  .row-lg > [class^="col"] {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .no-margin {
    margin-left: 0;
    margin-right: 0;
  }
  
  .no-margin > [class^="col"] {
    padding-left: 0;
    padding-right: 0;
  }
  
  .row-grid {
    margin-bottom: 1rem;
  }
  
  .row-grid-2 {
    margin-bottom: 3rem;
  }
  
  .row-grid-3 {
    margin-bottom: 2rem;
  }

.btn-primary {
    @include btnstyle;
    @include btnPrimary;
    &.btn-sm{
        width: 230px;padding:0 0.2rem;letter-spacing: 0.5px;z-index:1;
    }
    &:hover {
        background: $maincolor;
        border:1px solid $maincolor;
    }
}

.btn-outline {
    @include btnstyle;
    @include btnoutline;
    &:hover {
        background: $maincolor;
        border:1px solid $maincolor;
        color:$whitecolor;
    }
}

.bgBlue {
    background: $secondarycolor;
}
.btn-secondary {
    @include btnstyle;
    background-color: transparent;
    color:$maincolor;
    @include btn-position;
    border:1px solid $maincolor;
    height: 40px;
    display: inline-block;

    &:hover {
        color: $whitecolor;
        background-color: $maincolor;
    }
}

.btn-outline-primary {
    border: 1px solid $maincolor;
    color: $maincolor;
    border-radius: 0;

    &:hover {
        color: #FFF;
        background-color: #043F7D;
        border: 1px solid #043F7D;
    }
}

.card {border:0;border-radius:0;
    figure {margin:0;
        & img {width: 100%;height:100%}
        & iframe {width: 100%;height:100%}
        &.bigImg {height: 390px;}
    }
    figcaption {padding:1rem;height: 210px;
        background: $lightpink;
        h2 {font-size: 1.125rem;font-weight: 700;margin-top: 1rem;}
        p {font-size: 1.125rem;}
        .cards-dtls {
            display: flex;flex-direction: row;justify-content: space-between;margin:0;padding:0;
            li {list-style-type: none;font-size: 0.875rem;}
        }
    }
    &.typ2 {padding-left: 310px;position: relative; background: $lightpink;margin-bottom:30px;
        figure {width: 310px;margin:0;height:180px;
            position: absolute;top:0;left: 0;
            img {width: 100%;}
        }
        figcaption {height:180px;position: relative;
            .cards-dtls {position: absolute;bottom:1rem;width: 90%;}
        }
    }
}
.lbl-txt {
    font-size: 12px;font-weight: 600;padding:0 5px;color:$whitecolor;
    &.secondaryColor {
        background:$secondarycolor;
    }
    &.mainColor {
        background:$maincolor;
    }
    &.blueColor {
        background:$bluecolor;
    }
    &.greenColor {
        background:$greencolor;
    }
}