@import 'variable';
@import 'mixing';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bodycolor);
    font-family: $basefont;
    font-size: $basefontsize;
    color: var(--textcolor);
    overflow-x: hidden;
}

::before,
::after {
    font-family: 'FontAwesome', serif;
}
.container, .container-lg, .container-md, .container-sm {
    max-width: 1366px !important;
}


a {
    text-decoration: none;
    // transition: $DefaultTransition;
}
.row-zero {
    margin-left: 0;
    margin-right: 0;
  }
  
  .row-zero > [class^="col"] {
    padding-left: 0;
    padding-right: 0;
  }
  
  .row-xxs {
    margin-left: -0.5px;
    margin-right: -0.5px;
  }
  
  .row-xxs > [class^="col"] {
    padding-left: 1px;
    padding-right: 0.5px;
  }
  
  .row-xs {
    margin-left: -2px;
    margin-right: -2px;
  }
  
  .row-xs > [class^="col"] {
    padding-left: 2px;
    padding-right: 2px;
  }
  
  .row-sm {
    margin-left: -15px;
    margin-right: -15px;
  }
  
  .row-sm > [class^="col"] {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .row-md {
    margin-left: -20px;
    margin-right: -20px;
  }
  
  .row-md > [class^="col"] {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .row-lg {
    margin-left: -40px;
    margin-right: -40px;
  }
  
  .row-lg > [class^="col"] {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .no-margin {
    margin-left: 0;
    margin-right: 0;
  }
  
  .no-margin > [class^="col"] {
    padding-left: 0;
    padding-right: 0;
  }
  
  .row-grid {
    margin-bottom: 1rem;
  }
  
  .row-grid-2 {
    margin-bottom: 3rem;
  }
  
  .row-grid-3 {
    margin-bottom: 2rem;
  }



.button {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
 
}
.btn-primary {
    @include btnstyle;
    @include btnPrimary;
    &.btn-sm{
        width: 230px;padding:0 0.2rem;letter-spacing: 0.5px;z-index:1;
    }
    // &:hover {
    //     background: var(--maincolor);
    //     border:1px solid $maincolor;
    // }
}

.btn-outline {
    @include btnstyle;
    @include btnoutline;
    // &:hover {
    //     background: var(--maincolor);
    //     border:1px solid $maincolor;
    //     color:var(--whitecolor);
    // }
}

.bgBlue {
    background: var(--secondarycolor);
}
.btn-secondary {
    @include btnstyle;
    background-color: transparent;
    color:var(--maincolor);
    @include btn-position;
    border:1px solid $maincolor;
    height: 40px;
    display: inline-block;

    &:hover {
        color: var(--whitecolor);
        background-color: var(--maincolor);
    }
}

.btn-outline-primary {
    border: 1px solid $maincolor;
    color: var(--maincolor);
    border-radius: 0;

    &:hover {
        color: #FFF;
        background-color: #043F7D;
        border: 1px solid #043F7D;
    }
}

.card {
    border:0;border-radius:0;background-color:var(--whitecolor);
    figure {margin:0;overflow: hidden; @include transition;
        & img {width: 100%;height:100%; object-fit: cover;}
        & iframe {width: 100%;height:100%}
        &.bigImg {height: 390px;overflow: hidden; @include transition;}
    }
    figcaption {padding:1rem;height: 210px;
        background: var(--lightpink);color: #000;
        h2 {font-size: 1.125rem;font-weight: 700;margin-top: 1rem;}
        p {font-size: 1.125rem;}
        .cards-dtls {
            display: flex;flex-direction: row;justify-content: space-between;margin:0;padding:0;
            li {list-style-type: none;font-size: 0.875rem;}
        }
    }
    &.typ2 {padding-left: 310px;position: relative; background: var(--lightpink);margin-bottom:30px;
        figure {width: 310px;margin:0;height:180px;
            position: absolute;top:0;left: 0;
            overflow: hidden;
            @include transition;
            img {width: 100%;width: 100%;
              height: 100%;
              object-fit: cover;}
        }
        figcaption {height:180px;position: relative;
            .cards-dtls {position: absolute;bottom:1rem;width: 90%;}
        }
    }
}
.lbl-txt {
    font-size: 12px;font-weight: 600;padding:0 5px;color:var(--whitecolor);
    &.secondaryColor {
        background:var(--secondarycolor);
    }
    &.mainColor {
        background:var(--maincolor);
    }
    &.blueColor {
        background:var(--bluecolor);
    }
    &.greenColor {
        background:var(--greencolor);
    }
}
// BreadCrumb
.breadcrumb-nav{
  .breadcrumb{
    padding: 2.125rem 0;
    margin-bottom: 0;
    li{
      @include font(14px,400,var(--linkcolor));
      a{
          color: $secondarycolor;font-weight: 300;
          &:hover{color: $maincolor;}
      }
      +li::before{
          padding: 8px;color: var(--linkcolor);content: "\f105";
      }
    }
  }
}

// Header CSSS
header{
  transition: 0.5s all ease-in-out;
  &::after{
    content: "";
    background: url(/resources/images/top-image.png) 0 0 no-repeat;
    height: 100%;
    position: absolute;
    width: 100%;
    background-size: 50%;
    top: 0;
    right: -840px;
    z-index: -9;
  }
  &.dark{
      .header-top{
        z-index: 9;
        width: 100%;
        .top{
          height: 40px;background-color: rgba(0, 0, 0, 0.05);transition: 0.5s all ease-in-out;
          .custom-top{
            display: flex;
            list-style: none;
            justify-content: flex-end;
            li{
              .font-increament{
                display: flex;
                margin: 5px 0;
                padding: 0;
                list-style-type: none;
                border: 1px solid $secondarycolor;
                border-radius: 5px;
                color: var(--secondarycolor);
                justify-content: space-between;
                background-color: var(--whitecolor);
                li{
                  padding: 2px 13px;
                  width: 33%;
                  font-size: 1rem;
                  font-weight: 700;
                  height: 30px;
                  a{
                    color: var(--secondarycolor);
                  }
                  &:first-child{
                    border-radius: 5px 0 0 5px;
                  }
                  &.active{
                    background-color: var(--linkcolor);
                    a{color: var(--whitecolor);}
                  }    
                }
              }
            }
            .dropdown{  
              /* The switch - the box around the slider */
              .switch {
                position: relative;
                display: inline-block;
                width: 30px;
                height: 30px;
                margin: 6px 0 6px 6px;
              }

              /* Hide default HTML checkbox */
              .switch input {
                opacity: 0;
                width: 0;
                height: 0;
              }

              /* The slider */
              .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                // background-color: #ccc;
                -webkit-transition: 0.4s;
                transition: 0.4s;
              }

              .slider:before {
                position: absolute;
                content: "";
                height: 30px;
                width: 30px;
                left: 0px;
                bottom: 4px;
                top: 0;
                bottom: 0;
                margin: auto 0;
                -webkit-transition: 0.4s;
                transition: 0.4s;
                // box-shadow: 0 0px 15px #2020203d;
                background-image: url('/resources/images/icon/theme-light.png');
                background-repeat: no-repeat;
                background-position: center;
                border: 1px solid $secondarycolor;
                background-size: 18px 18px;
                background-color: var(--whitecolor);
              }

              input:checked + .slider:before {
                -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                transform: rotate(360deg);
                background-image: url('/resources/images/icon/theme-light.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 18px 18px;
                background-color: var(--whitecolor);
              }

              /* Rounded sliders */
              .slider.round {
                border-radius: 34px;
              }

              .slider.round:before {
                border-radius: 50%;
              }

            }
          }
        }
        .navbar {
          padding: 0;
          ul{
            list-style: none;
            padding: 0;
            li{
              .navbar-brand{
                img{height: 95px;transition: 0.5s all ease-in-out;}
              }
            }
          }
          .navbar-nav{
            .nav-item{
              .nav-link{
                color: var(--linkcolor);
                font-size: 1.25rem;
                font-weight: bold;
                padding: 48px 25px;
                &:hover{
                  background-color: var(--secondarycolor);
                  color: var(--whitecolor);
                }
                &:active{
                  background: var(--secondarycolor);
                  color: var(--whitecolor);
                }
              }
            
              .sub-menu-block{
                width: 400px;
                background-color: var(--whitecolor);
                background: var(--whitecolor);
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                a{
                  img{width: 40px;height: 40px;margin-right: 1.438rem;position: relative;}
                  color: var(--linkcolor);
                  font-size: 1.125rem;
                  font-weight: 700;
                  display: flex;
                  align-items: center;
                  span{
                    position: absolute;
                    left: 5rem;
                    padding-left: 15px;
                    cursor: pointer;
                    align-items: center;
                  }
                }
                li{
                  ul{
                    li{
                      padding: 1.188rem;
                      &.submenu-ship{border-bottom: 1px solid $greencolor;border-left: 0.75rem solid $secondarycolor;}
                      &.submenu-diaries{border-bottom: 1px solid $secondarycolor; border-left: 0.75rem solid $bluecolor; a{img{width: 31px;}}}
                      &.submenu-leadership{border-bottom: 1px solid $maincolor; border-left: 0.75rem solid $maincolor; a{img{width: 37px;}}}
                      &.submenu-building{border-bottom: 1px solid $bluecolor;border-left: 0.75rem solid $greencolor;}
                    }
                  
                  }
                }

              }
            }
            .navActive:hover{
              background-color: var(--secondarycolor);
            }
          }
        
          .searchbar{
            position: relative;
            input{
              width: 350px;
              height: 50px;
              padding-right: 65px;
              &::placeholder{
                color: #000;
                font-size: 1.25rem;
              }
              &:focus{
                color: unset;
                border-color: unset;
                box-shadow: unset;
                border: 1px solid #ced4da;
              }
            }
            a{
              .search-icon-input{
                width: 3.125rem;
                height: 3.125rem;
                background: var(--secondarycolor);
                top: 0;
                right: 0;
                border-radius: 0px 5px 5px 0;
                position: absolute;
                z-index: 2;
                display: block;
                line-height: 3rem;
                text-align: center;
                cursor: pointer;
                color:var(--whitecolor);
                font-size: 30px;
                &:hover{
                  background-color: var(--maincolor);
                  color: var(--whitecolor);
                }
              }
            }
          }
        }
      }
      &.fixed-header {
        background: var(--whitecolor);
        position: fixed;
        top: 0;
        z-index: 99;
        box-shadow: 0px -3px 9px 0px #000;
        height: auto;
        width: 100%;
        &::after{
          background: none;
        }
        .navbar {
          ul{
            li{
              .navbar-brand {
                img {
                  height: 84px;
                }
              }
            }
          }
        }
      }
  }
}


//Footer CSS
footer {
  position: relative;padding: 2.5rem 0 1.75rem;background-color: var(--maincolor);margin-top: 3.125rem;
  .footer-list{
      padding: 0;display: flex;justify-content: space-between;
      margin:0 7rem;flex-wrap: wrap;
      > li{
          list-style-type: none;
          &:nth-child(1){
              width: 24%;
          }
          a{img{height: 90px;}}
      }
      h6{
        text-transform: uppercase;
        font-weight: 700;
        margin: 0;
        padding-top: 2.25rem;
      }
  }
  li{
      line-height: 1.5rem;margin-bottom: 15px;color:#fff;list-style-type: none;font-size: 0.875rem;
      a{
          color:#fff;
          &:hover{
            color: #000;
          }
      }
  }

  .footer-link {
      padding: 0;
      margin: 0;
      &.contact-info{
        li{
          font-weight: 700;
        }
      }
      li {
          position: relative;

          i.fa {
              margin-right: 8px;

              &.fa-mobile {
                  font-size: 20px;
              }

              &.fa-envelope {
                  font-size: 12px;
              }

              &.fa-map-marker {
                  position: absolute;
                  left: 0;
                  top: 4px;
              }
          }

          &.address {
              padding-left: 1.2rem;
          }
      }
  }
  .social-link{
      padding:0;margin-bottom:2.563rem;
      li{
          display: inline-block;margin-right:10px;
          i.fa{
              color:#fff;font-size: 26px;
              &:hover{color: #000;}
          }

          &:last-child {
              margin-right: 0;
          }
      }
  }
  h5{
      color: #fff;margin-bottom: 15px;font-size: 0.875rem;font-weight: 700;
      &.stay{
          margin-bottom: 6px;
      }
  }
  .copyright{
      display: flex;justify-content: space-between;padding: 0 6.75rem;
      align-items: center;margin-top:3rem;margin-bottom:0;
      li{
          list-style-type: none;line-height: normal;margin-bottom: 0;font-size: 0.75rem;
      }
  }
}  


// Home Page CSS
.home {
    .wrapper{
      padding-top: 0;
      .banner{
        .banner-info{
          padding: 5.063rem 0rem 5.063rem 5.063rem;
          position: relative;
          display: flex;
          list-style-type: none;
          h1{
            color: var(--headingcolor);
            font-weight: 800;
            padding-bottom: 1rem;
          }
          p{
            font-size: 1.875rem;
            color: var(--linkcolor);
            font-weight: 300;
            b{
              color: var(--maincolor);
            }
          }
          img{
            position: absolute;
            bottom: -25px;
            right: 0;
          }
        }
      }
      .resource{
        background-image: url(/resources/images/resource.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 462px;
        width: 100%;
        background-size: cover;
        position: relative;
        margin: 0;
        background-attachment: fixed;
        .resource-img{
          img{    
            width: 100%;
            max-height: 462px;
            object-fit: cover;
            height: 100%;
          }
        }
        .resource-hub{
          position: absolute;
          bottom: -39%;
          ul{
            list-style-type: none;
            padding: 0;
            display: flex;
            li{
              text-align: center;
              width: 330px;
              padding: 1rem;
              &.shilp-program{
                background-color: var(--secondarycolor);
                figure{
                  .icon{
                    background-color: var(--secondarycolor);
                  }
                }
              }
              &.cbo-diaries{
                background-color: var(--bluecolor);
                figure{
                  .icon{
                    background-color: var(--bluecolor);
                  }
                }
              }
              &.leadership-development{
                background-color: var(--maincolor);
                figure{
                  .icon{
                    background-color: var(--maincolor);
                  }
                }
              }
              &.inst-building{
                background-color: var(--greencolor);
                figure{
                  .icon{
                    background-color: var(--greencolor);
                  }
                }
              }
              figure{
                position: relative;
                .icon{
                  position: absolute;
                  top: -27%;
                  left: 50%;
                  border-radius: 50%;
                  padding: 0;
                  width: 120px;
                  height: 120px;
                  transform: translateX(-50%);
                  img{
                    width: auto;
                    height: 80px; 
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    // filter: invert(89%) sepia(89%) saturate(1%) hue-rotate(188deg) brightness(4) contrast(97%);
                  };
                }
                figcaption{
                  h4{
                    font-size: 1.625rem;
                    color: #FFF;
                    font-weight: bold;
                    padding-top: 3.2rem;
                  }
                  p{
                    color: #FFF;
                    padding-top: 1.25rem;
                  }
                  .text-center{
                    padding-top: 1.875rem;
                    .btn-outline{
                      padding: 0 11px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .featured-resources{
        padding-top: 13rem;
        .heading{
          text-align: center;
          margin-bottom: 1.063rem;
          h2{
            font-size: 2.5rem;
            font-weight: 700;
            color: var(--maincolor);
          }
          p{
            font-size: 1.5rem;
            width: 723px;
            font-weight: 400;
            margin: 0 auto;
          }
        }
        .card{
          figure{
            span{
              img{
                width: 35px;
                height: 35px;
              }
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
          figcaption{
            .cards-dtls{
              .article{height: 1.25rem}
            }
          }
        }

      }

      .about-program{
        position: relative;
        margin-top: 17rem;
        figure{
          position: absolute;
          top: -43%;
          left: 50%; 
          transform: translateX(-50%);
          img{
            box-shadow: rgb(1 0 0 / 50%) 0px 2px 8px 0px;
            border-radius: 10px;
          }
          span{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
        figcaption{
          text-align: center;
          background-color: var(--secondarycolor);
          height: auto;
          padding-top: 19rem;
          color: #fff;
          padding-bottom: 3.188rem;
          h4{
            font-size: 2.5rem;
            font-weight: 700;
          }
          p{
            font-size: 1.125rem;
            width: 599px;
            margin: 1.4rem auto;
          }
        }
      }   
  }
}

// List Resources Page
.list-resources{
    .wrapper{
      .breadcrumb-nav{
        .breadcrumb{
          padding: 2.125rem 0;
          margin-bottom: 0;
          li{
            @include font(14px,400,var(--linkcolor));
            a{
                color: $secondarycolor;font-weight: 300;
                &:hover{color: $maincolor;}
            }
            +li::before{
                padding: 8px;color: var(--linkcolor);content: "\f105";
            }
          }
        }
      }
      .searchresult {
        padding: 20px 0;

        .custom-col {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-direction: row;

            .left-column {
                min-width: 310px;
                transition: $DefaultTransition;
                border: 1px solid #D8D8D8;
                height: 100%;
                &.open {
                    height: 100vh;
                    transition: $DefaultTransition;
                    background-color: #fff;
            
                    .filter-details {
                      display: inline-block;
                    }
            
                    .apply-filter {
                      display: flex;
                      justify-content: space-around;
                      background-color: #F6F6F6;
                      border-bottom: 1px solid #E6E6E6;
                    }
                  }
                .checkbox {
                    &.extra-text {
                        padding-bottom: 15px;
                    }

                    .styled-checkbox {
                        position: absolute;
                        opacity: 0;

                        &+label {
                            position: relative;
                            cursor: pointer;
                            margin-bottom: 14px;
                            font-size: 1rem;
                            color: var(--linkcolor);
                            display: flex;
                            align-items: center;

                            p {
                                position: absolute;
                                top: 0;
                                left: 29px;
                            }

                            span {
                                font-size: 12px;
                            }
                        }

                        // Box.
                        &+label:before {
                            content: '';
                            margin-right: 10px;
                            display: inline-block;
                            vertical-align: text-top;
                            width: 16px;
                            height: 16px;
                            background: white;
                            border: 1px solid #707070;
                            border-radius: 4px;
                        }

                        // Box hover
                        // &:hover+label:before {
                        //     background: var(--secondarycolor);
                        // }

                        // Box checked
                        &:checked+label:before {
                            background:#0066ff;
                            border: 1px solid #0066ff;
                        }

                        // Disabled state label.
                        &:disabled+label {
                            color: #666666;
                            cursor: auto;
                        }

                        // Disabled box.
                        &:disabled+label:before {
                            box-shadow: none;
                            background: #ddd;
                        }

                        // Checkmark. Could be replaced with an image
                        &:checked+label:after {
                          content: "";
                          position: absolute;
                          left: 2px;
                          top: 10px;
                          background: #FFF;
                          width: 3px;
                          height: 3px;
                          box-shadow: 2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -8px 0 #fff;
                          transform: rotate(45deg);
                          border: none;
                        }

                    }
                    &.topic{
                      .styled-checkbox{
                        &+label{
                          font-weight: 700;
                        }
                        // Box checked
                        &:checked+label:before {
                          background: var(--secondarycolor);
                          border: 1px solid var(--secondarycolor);
                        }
                      }
                    }
                    &.development{
                      .styled-checkbox{
                        &+label{
                          font-weight: 700;
                        }
                        // Box checked
                        &:checked+label:before {
                          background: var(--maincolor);
                          border: 1px solid var(--maincolor)
                        }
                      }
                    }
                    &.building{
                      .styled-checkbox{
                        &+label{
                          font-weight: 700;
                        }
                        // Box checked
                        &:checked+label:before {
                          background: var(--greencolor);
                          border: 1px solid var(--greencolor);
                        }
                      }
                    }
                }

                .load-more {
                    color: $maincolor;
                    font-size: 14px;
                    text-align: center;
                    font-weight: 700;
                    display: block;
                    padding-bottom: 20px;

                    span {
                        border-bottom: 1px solid $maincolor;
                    }
                }

                .applied-filter {
                    text-transform: uppercase;
                    display: flex;
                    justify-content: space-between;
                    background-color: var(--whitecolor);
                    padding: 0.8rem 1rem;
                    border-bottom: 1px solid #E6E6E6;
                    align-items: center;

                    h4 {
                        color: var(--textcolor);
                        font-weight: 700; 
                        font-size: 1.125rem;
                        margin: 0;
                    }

                    .btn-outline {
                        color: $secondarycolor;
                        font-size: 0.75rem;
                        cursor: pointer;
                        border: 1px solid $secondarycolor;
                        font-weight: 700;
                        line-height: 30px;
                        &::before{background-color: var(--maincolor);border: 1px solid var(--maincolor);}
                        &:hover {
                            background-color: $maincolor;
                            color: #fff;
                            border: 1px solid var(--maincolor);
                        }
                    }
                }
                .filter-details{
                    background-color: var(--whitecolor);padding: 20px 16px;
                    .close{display: none}
                    .fliter-text{
                        h4{
                            @include font(1.125rem,700,var(--linkcolor));text-transform: uppercase;margin-bottom: 15px;
                        }
                    }

                    .catergories {
                        &:last-child {
                            border-bottom: 0;
                        }

                        .mycheck {
                            overflow: hidden;
                            &.submenu{
                              padding-left: 2rem;
                              .styled-checkbox{
                                &+label{
                                  font-weight: 400;
                                }
                              }
                            }
                            &.for-height {
                                height: auto !important;
                            }

                            &.open {
                                height: 200px;
                                overflow-y: scroll;
                                @include custom-scroll-bar;
                            }
                        }
                    }

                    .compadding {
                        padding-top: 20px;
                    }
                }
                .apply-filter{display: none;}
            }

            .middle-column {
                width: 100%;
                padding-left: 30px;
                ul{
                  list-style-type: none;
                  padding: 0;
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: space-between;
                  .item{
                    display: none;
                    .card{
                      margin-bottom: 1.875rem;
                      max-width: 310px;
                      width: 100%;
                      figure{
                        span{
                          position: absolute;
                          top: 27%;
                          left: 50%;
                          transform: translate(-50%, -50%);
                          img{
                            width: 35px;
                            height: 35px;
                          }
                        }
                      }
                      figcaption{
                        height: auto;
                        .lbl-txt {background-color: var(--secondarycolor);}
                        h2{height: 45px;}
                        .cards-dtls{
                          .icon{
                            height: 1.25rem;
                          }
                        }
                      }
                    }
                  }
                }
                .btn-load-more {
                  text-align: center;

                  a {
                      transition: .3s;
                  }
              }

                .noContent {
                    color: var(--linkcolor)  !important;
                    background-color: transparent !important;
                    pointer-events: none;
                }
            }
        }
      }
    }
}


// Resource Details Page
.inner-page{
  .list{
    .heading{
      width: 849px;
      h2{font-size: 2.5rem;font-weight: 700;color: $headingcolor;}
      p{font-size: 1.125rem;font-weight: 400;}
    }
  }
  .resource-program{
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    .program{
      display: flex;
      justify-content: space-between;
      .program-info{
        ul{
          list-style-type: none;
          display: flex;
          padding: 0;
          li{
            .lbl-txt {
              &.mainColor{
                background: var(--secondarycolor);
                width: 75px;
                height: 26px;
                font-size: 1rem;
                font-weight: 700;
                padding: 0 8px;
              }
            }
            h6{
              font-size: 1rem;
              font-weight: 700;
              padding-left: 0.625rem;
            }
          }
        }
      }
      .share{
        .social-link{
          display: flex;
          list-style-type: none;
          align-items: center;
          padding: 0;
          li{
            margin-right: 0.5rem;
            &:last-child{
              margin-right: 0;
            }
            span{
              font-size: 0.875rem;
              font-weight: 700;
            }
            a{
              border: 1px solid var(--secondarycolor);
              background-color: var(--whitecolor);
              text-align: center;
              width: 33px;
              height: 33px;
              border-radius: 100%;
              display: flex;
              align-items: flex-start;
              &:hover{
                border: 1px solid var(--whitecolor);
                background-color: var(--maincolor);
              }
              i{
                color: var(--secondarycolor);
                font-size: 1.125rem;
                align-self: center;
                margin: 0 auto;
                &:hover{color: var(--whitecolor);}
              }
            }
          }
        }
      }
    }
    .info{
      .cards-dtls{
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        li{
          list-style-type: none;
          font-size: 0.875rem;
          padding-right: 1rem;
          img{
            height: 1.25rem;
          }
        }
      }
    }
    .mission{
      .heading{
        margin-top: 1.438rem;
        margin-bottom: 2.688rem;
        h2{
          font-size: 2.5rem;
          font-weight: 700;
          color: #660562;
        }
      }
      .mission-info{
        padding-bottom: 84px;
        .img{
          img{width: 100%;}
        }
        .mission-text{
          margin-top: 2.875rem;
          p{
            font-size: 1.125rem;
          }
        }
      }
      .source{
        h6{
          font-size: 1.5rem;
          font-weight: 700;
        }
        ul{
          padding-left: 1.5rem;
          list-style-type: disc;
          li{
            font-size: 1.125rem;
            margin-bottom: 1rem;
            color: var(--secondarycolor);
            a{
              color: var(--secondarycolor);
              &:hover{color: var(--maincolor);}
            }
            &::marker{
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
 .related-resources{
  background-color: #F7F7F7;
  padding-top: 19px;
  padding-bottom: 70px;
  .heading{
    margin: 1.438rem 0;
    h2{
      font-size: 2.5rem;
      font-weight: 700;
      color: #660562;
    }
  }
  ul{
    list-style: none;
    padding-left: 0;
    li{
      .card{
        margin-bottom: 1.875rem;
        figure{
          span{
            position: absolute;
            top: 27%;
            left: 50%;
            transform: translate(-50%, -50%);
            img{
              width: 35px;
              height: 35px;
            }
          }
        }
        figcaption{
          height: auto;
          .lbl-txt {background-color: var(--secondarycolor);}
          h2{height: 45px;}
          .cards-dtls{
            li{
              display: flex;
              align-items: center;
              .icon{
                height: 1.25rem;
                width: auto;
                margin-right: 5px;
              }
              i{
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
  .owl-nav{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    width: 100%;
    button{
      background-color: var(--secondarycolor);
      border-radius: 100%;
      width: 36px;
      height: 36px;
      border: 1px solid #fff;
      span{
        display: none;
      }
    }
    .owl-prev{
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #FFF;
      position: absolute;
      left: -17px;
      top: -32px;
      &::before{
        content: '\f060';
        color: #fff;
      }
    }
    .owl-next{
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #FFF;
      position: absolute;
      right: -17px;
      top: -32px;
      &::before{
        content: '\f061';
        color: white;
      }
    }    
  } 
 }
}

//CBO diaries deatils page
.custom-details{
      .resource-program{
        .program{
          .program-info{
           ul{
            li{
              .lbl-txt {
                &.mainColor{
                  width: auto;
                }
              }
            }
           }
          }
        }
        .mission{
          .heading{
            margin-top: 0;
            margin-bottom: 1.25rem;
          }
          .mission-info{
            padding-bottom: 40px;
            .mission-text{
              margin-top: 20px;
            }
            .fondation-img{
              ul{
                list-style-type: none;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 0;
                li{
                  margin-bottom: 1.375rem;
                }
              }
            }
            .foundation-text{
              p{
                font-size: 1.125rem;
              }
            }
            .foundation-video{
              position: relative;
              span{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
              }
            }
            .foundation-text-video{
              margin-top: 30px;
              p{
                font-size: 1.125rem;
              }
            }
            .help{
              ul{
                list-style-type: none;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
              }
            }
          }
        }
      }
      .related-resources{
        padding-bottom: 51px;
        ul{
          li{
            .card{
              margin-bottom: 0;
            }
          }
        }
      }
}

.diaries-info{
  .list{
    .heading{
      p{margin: 0;}
    }
  }
  .filters{
    .filters-data{
      padding-top: 40px;
      ul{
        list-style-type: none;
        padding: 0;
        display: flex;
        margin: 0;
        span{padding-right: 5px;}
        li{
          border-radius: 3px;
          font-weight: 700;
          display: inline-block;
          width: 30px;
          height: 30px;
          margin-right: 5px;
          margin-bottom: 5px;
          border: 1px solid var(--secondarycolor);
          text-align: center;
          line-height: 27px;
          text-transform: uppercase;
          cursor: pointer;
          a{
            color: var(--secondarycolor);
          }
          &.active{
            background-color: var(--secondarycolor);
            color: var(--whitecolor);
            a{ color: var(--whitecolor);}
          }
          &.all{width: 46px;}
        }
      }
    }
  }
  .filters-card{
    padding-top: 1.875rem;
    ul{
      list-style-type: none;
      padding: 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .item{
        margin-right: 25px;
        display: none;
        .card{
          padding-bottom: 30px;
          width: 100%;
          max-width: 310px; 
          figcaption{
            height: 82px;
            padding: 0.3rem 1rem 0.3rem 1rem;
          }
        }
      }
    }
   
    .btn-load-more{text-align: center;}
  }
}