@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFF;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #000;
}

::before,
::after {
  font-family: "FontAwesome", serif;
}

.container, .container-lg, .container-md, .container-sm {
  max-width: 1326px !important;
}

a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.row-zero {
  margin-left: 0;
  margin-right: 0;
}

.row-zero > [class^=col] {
  padding-left: 0;
  padding-right: 0;
}

.row-xxs {
  margin-left: -0.5px;
  margin-right: -0.5px;
}

.row-xxs > [class^=col] {
  padding-left: 1px;
  padding-right: 0.5px;
}

.row-xs {
  margin-left: -2px;
  margin-right: -2px;
}

.row-xs > [class^=col] {
  padding-left: 2px;
  padding-right: 2px;
}

.row-sm {
  margin-left: -15px;
  margin-right: -15px;
}

.row-sm > [class^=col] {
  padding-left: 15px;
  padding-right: 15px;
}

.row-md {
  margin-left: -20px;
  margin-right: -20px;
}

.row-md > [class^=col] {
  padding-left: 20px;
  padding-right: 20px;
}

.row-lg {
  margin-left: -40px;
  margin-right: -40px;
}

.row-lg > [class^=col] {
  padding-left: 40px;
  padding-right: 40px;
}

.no-margin {
  margin-left: 0;
  margin-right: 0;
}

.no-margin > [class^=col] {
  padding-left: 0;
  padding-right: 0;
}

.row-grid {
  margin-bottom: 1rem;
}

.row-grid-2 {
  margin-bottom: 3rem;
}

.row-grid-3 {
  margin-bottom: 2rem;
}

.btn-primary {
  font-size: 0.875rem;
  font-weight: 700;
  display: inline-block;
  line-height: 40px;
  padding: 0 15px;
  letter-spacing: 0.5px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1;
  border: 0;
  background: #D41362;
  color: #FFF;
  border: 1px solid #D41362;
}
.btn-primary.btn-sm {
  width: 230px;
  padding: 0 0.2rem;
  letter-spacing: 0.5px;
  z-index: 1;
}
.btn-primary:hover {
  background: #970F65;
  border: 1px solid #970F65;
}

.btn-outline {
  font-size: 0.875rem;
  font-weight: 700;
  display: inline-block;
  line-height: 40px;
  padding: 0 15px;
  letter-spacing: 0.5px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1;
  border: 0;
  border: 1px solid #FFF;
  color: #FFF;
}
.btn-outline:hover {
  background: #970F65;
  border: 1px solid #970F65;
  color: #FFF;
}

.bgBlue {
  background: #D41362;
}

.btn-secondary {
  font-size: 0.875rem;
  font-weight: 700;
  display: inline-block;
  line-height: 40px;
  padding: 0 15px;
  letter-spacing: 0.5px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1;
  border: 0;
  background-color: transparent;
  color: #970F65;
  overflow: hidden;
  position: relative;
  border: 1px solid #970F65;
  height: 40px;
  display: inline-block;
}
.btn-secondary:hover {
  color: #FFF;
  background-color: #970F65;
}

.btn-outline-primary {
  border: 1px solid #970F65;
  color: #970F65;
  border-radius: 0;
}
.btn-outline-primary:hover {
  color: #FFF;
  background-color: #043F7D;
  border: 1px solid #043F7D;
}

.card {
  border: 0;
  border-radius: 0;
}
.card figure {
  margin: 0;
}
.card figure img {
  width: 100%;
  height: 100%;
}
.card figure iframe {
  width: 100%;
  height: 100%;
}
.card figure.bigImg {
  height: 390px;
}
.card figcaption {
  padding: 1rem;
  height: 210px;
  background: #FFF3FB;
}
.card figcaption h2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 1rem;
}
.card figcaption p {
  font-size: 1.125rem;
}
.card figcaption .cards-dtls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.card figcaption .cards-dtls li {
  list-style-type: none;
  font-size: 0.875rem;
}
.card.typ2 {
  padding-left: 310px;
  position: relative;
  background: #FFF3FB;
  margin-bottom: 30px;
}
.card.typ2 figure {
  width: 310px;
  margin: 0;
  height: 180px;
  position: absolute;
  top: 0;
  left: 0;
}
.card.typ2 figure img {
  width: 100%;
}
.card.typ2 figcaption {
  height: 180px;
  position: relative;
}
.card.typ2 figcaption .cards-dtls {
  position: absolute;
  bottom: 1rem;
  width: 90%;
}

.lbl-txt {
  font-size: 12px;
  font-weight: 600;
  padding: 0 5px;
  color: #FFF;
}
.lbl-txt.secondaryColor {
  background: #D41362;
}
.lbl-txt.mainColor {
  background: #970F65;
}
.lbl-txt.blueColor {
  background: #2071C4;
}
.lbl-txt.greenColor {
  background: #029E6F;
}

.dark {
  background-image: url(/resources/images/top-image.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 480px;
  position: absolute;
  width: 100%;
}
.dark .header-top {
  z-index: 9;
  width: 100%;
}
.dark .header-top .top {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.05);
}
.dark .header-top .top .custom-top {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
.dark .header-top .top .custom-top li .font-increament {
  display: flex;
  margin: 5px 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #D41362;
  border-radius: 5px;
  color: #D41362;
  justify-content: space-between;
}
.dark .header-top .top .custom-top li .font-increament li {
  padding: 4px 13px;
  width: 33%;
  font-size: 1rem;
  font-weight: 700;
  height: 30px;
}
.dark .header-top .top .custom-top li .font-increament li a {
  color: #D41362;
}
.dark .header-top .top .custom-top li .font-increament li:first-child {
  border-radius: 5px 0 0 5px;
}
.dark .header-top .top .custom-top li .font-increament li.active {
  background-color: #000000;
}
.dark .header-top .top .custom-top li .font-increament li.active a {
  color: #fff;
}
.dark .header-top .top .custom-top .dropdown {
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}
.dark .header-top .top .custom-top .dropdown .switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 6px;
}
.dark .header-top .top .custom-top .dropdown .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.dark .header-top .top .custom-top .dropdown .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}
.dark .header-top .top .custom-top .dropdown .slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  transition: 0.4s;
  background-image: url("/resources/images/icon/theme-light.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #D41362;
  background-size: 18px 18px;
  background-color: #000000;
}
.dark .header-top .top .custom-top .dropdown input:checked + .slider:before {
  transform: rotate(360deg);
  background-image: url("/resources/images/icon/theme-light.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
  background-color: #FFF;
}
.dark .header-top .top .custom-top .dropdown .slider.round {
  border-radius: 34px;
}
.dark .header-top .top .custom-top .dropdown .slider.round:before {
  border-radius: 50%;
}
.dark .header-top .navbar {
  padding: 0;
}
.dark .header-top .navbar ul {
  list-style: none;
  padding: 0;
}
.dark .header-top .navbar ul li .navbar-brand img {
  height: 110px;
}
.dark .header-top .navbar .navbar-nav .nav-item .nav-link {
  color: #0D0D0D;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 38px 25px;
}
.dark .header-top .navbar .navbar-nav .nav-item .nav-link:hover {
  background-color: #D41362;
  color: #FFF;
}
.dark .header-top .navbar .navbar-nav .nav-item .nav-link:active {
  background: #D41362;
  color: #FFF;
}
.dark .header-top .navbar .navbar-nav .nav-item .sub-menu-block {
  width: 400px;
  background-color: #FFF;
  background: #FFF;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.dark .header-top .navbar .navbar-nav .nav-item .sub-menu-block a {
  color: #000;
  font-size: 1.125rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.dark .header-top .navbar .navbar-nav .nav-item .sub-menu-block a img {
  width: 40px;
  height: 40px;
  margin-right: 1.438rem;
  position: relative;
}
.dark .header-top .navbar .navbar-nav .nav-item .sub-menu-block a span {
  position: absolute;
  left: 5rem;
  padding-left: 15px;
  cursor: pointer;
  align-items: center;
}
.dark .header-top .navbar .navbar-nav .nav-item .sub-menu-block li ul li {
  padding: 1.188rem;
}
.dark .header-top .navbar .navbar-nav .nav-item .sub-menu-block li ul li.submenu-ship {
  border-bottom: 1px solid #029E6F;
  border-left: 0.75rem solid #D41362;
}
.dark .header-top .navbar .navbar-nav .nav-item .sub-menu-block li ul li.submenu-diaries {
  border-bottom: 1px solid #D41362;
  border-left: 0.75rem solid #2071C4;
}
.dark .header-top .navbar .navbar-nav .nav-item .sub-menu-block li ul li.submenu-diaries a img {
  width: 31px;
}
.dark .header-top .navbar .navbar-nav .nav-item .sub-menu-block li ul li.submenu-leadership {
  border-bottom: 1px solid #970F65;
  border-left: 0.75rem solid #970F65;
}
.dark .header-top .navbar .navbar-nav .nav-item .sub-menu-block li ul li.submenu-leadership a img {
  width: 37px;
}
.dark .header-top .navbar .navbar-nav .nav-item .sub-menu-block li ul li.submenu-building {
  border-bottom: 1px solid #2071C4;
  border-left: 0.75rem solid #029E6F;
}
.dark .header-top .navbar .navbar-nav .navActive:hover {
  background-color: #D41362;
}
.dark .header-top .navbar .searchbar input {
  width: 350px;
  position: relative;
  height: 50px;
}
.dark .header-top .navbar .searchbar input::-moz-placeholder {
  color: #000000;
  font-size: 1.25rem;
}
.dark .header-top .navbar .searchbar input:-ms-input-placeholder {
  color: #000000;
  font-size: 1.25rem;
}
.dark .header-top .navbar .searchbar input::placeholder {
  color: #000000;
  font-size: 1.25rem;
}
.dark .header-top .navbar .searchbar .search-icon-input {
  width: 3.125rem;
  height: 3.125rem;
  background: #D41362;
  top: 38px;
  right: 13px;
  border-radius: 0px 5px 5px 0;
  position: absolute;
  z-index: 2;
  display: block;
  line-height: 3rem;
  text-align: center;
  pointer-events: none;
  color: #FFF;
  font-size: 30px;
}
.dark.fixed-header {
  background: #FFF;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 0px -3px 9px 0px #000;
  height: auto;
  transition: 0.5s all ease-in-out;
}
.dark.fixed-header.navbar.navbar-brand img {
  width: 75%;
  height: auto;
}

.wrapper {
  padding-top: 170px;
}
.wrapper .banner .banner-info {
  padding: 5.063rem 0rem 5.063rem 5.063rem;
  position: relative;
}
.wrapper .banner .banner-info h1 {
  color: #660562;
  font-weight: 800;
  padding-bottom: 1rem;
}
.wrapper .banner .banner-info p {
  font-size: 1.875rem;
  color: #000000;
  font-weight: 300;
}
.wrapper .banner .banner-info p b {
  color: #970F65;
}
.wrapper .banner .banner-info img {
  position: absolute;
  bottom: -6px;
}
.wrapper .resource {
  background-image: url(/resources/images/resource.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 462px;
  width: 100%;
  background-size: cover;
  position: relative;
}
.wrapper .resource .resource-img img {
  width: 100%;
  max-height: 462px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.wrapper .resource .resource-hub {
  position: absolute;
  bottom: -39%;
}
.wrapper .resource .resource-hub ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}
.wrapper .resource .resource-hub ul li {
  text-align: center;
  width: 330px;
  padding: 1rem;
}
.wrapper .resource .resource-hub ul li.shilp-program {
  background-color: #D41362;
}
.wrapper .resource .resource-hub ul li.shilp-program figure .icon {
  background-color: #D41362;
}
.wrapper .resource .resource-hub ul li.cbo-diaries {
  background-color: #2071C4;
}
.wrapper .resource .resource-hub ul li.cbo-diaries figure .icon {
  background-color: #2071C4;
}
.wrapper .resource .resource-hub ul li.cbo-diaries figure .icon img {
  width: 3.875rem;
}
.wrapper .resource .resource-hub ul li.leadership-development {
  background-color: #970F65;
}
.wrapper .resource .resource-hub ul li.leadership-development figure .icon {
  background-color: #970F65;
}
.wrapper .resource .resource-hub ul li.leadership-development figure .icon img {
  width: 4.625rem;
}
.wrapper .resource .resource-hub ul li.inst-building {
  background-color: #029E6F;
}
.wrapper .resource .resource-hub ul li.inst-building figure .icon {
  background-color: #029E6F;
}
.wrapper .resource .resource-hub ul li figure {
  position: relative;
}
.wrapper .resource .resource-hub ul li figure .icon {
  position: absolute;
  top: -32%;
  left: 27%;
  border-radius: 50%;
  padding: 20px;
  width: 120px;
  height: 120px;
}
.wrapper .resource .resource-hub ul li figure .icon img {
  width: 80px;
  height: 80px;
}
.wrapper .resource .resource-hub ul li figure figcaption h4 {
  font-size: 1.625rem;
  color: #FFF;
  font-weight: bold;
  padding-top: 3.2rem;
}
.wrapper .resource .resource-hub ul li figure figcaption p {
  color: #FFF;
  padding-top: 1.25rem;
}
.wrapper .resource .resource-hub ul li figure figcaption .text-center {
  padding-top: 1.875rem;
}
.wrapper .resource .resource-hub ul li figure figcaption .text-center .btn-outline {
  padding: 0 11px;
}
.wrapper .featured-resources {
  padding-top: 13rem;
}
.wrapper .featured-resources .heading {
  text-align: center;
  margin-bottom: 1.063rem;
}
.wrapper .featured-resources .heading h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #970F65;
}
.wrapper .featured-resources .heading p {
  font-size: 1.5rem;
  width: 723px;
  font-weight: 400;
  margin: 0 auto;
}
.wrapper .featured-resources .card figure span {
  position: absolute;
  top: 39%;
  z-index: 99;
  left: 46%;
}
.wrapper .featured-resources .card figure span img {
  width: 35px;
  height: 35px;
}
.wrapper .featured-resources .card figcaption .cards-dtls .article {
  height: 1.25rem;
}
.wrapper .about-program {
  position: relative;
  margin-top: 17rem;
}
.wrapper .about-program figure {
  position: absolute;
  top: -43%;
  left: 50%;
  transform: translateX(-50%);
}
.wrapper .about-program figure img {
  box-shadow: rgba(1, 0, 0, 0.5) 0px 2px 8px 0px;
}
.wrapper .about-program figure span {
  position: absolute;
  left: 44%;
  top: 38%;
}
.wrapper .about-program figcaption {
  text-align: center;
  background-color: #D41362;
  height: 520px;
  padding-top: 19rem;
  color: #FFF;
}
.wrapper .about-program figcaption h4 {
  font-size: 2.5rem;
  font-weight: 700;
}
.wrapper .about-program figcaption p {
  font-size: 1.125rem;
  width: 599px;
  margin: 1.4rem auto;
}

footer {
  position: relative;
  padding: 2.5rem 0 1.75rem;
  background-color: #970F65;
  margin-top: 3.125rem;
}
footer .footer-list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 7rem;
  flex-wrap: wrap;
}
footer .footer-list > li {
  list-style-type: none;
}
footer .footer-list > li:nth-child(1) {
  width: 24%;
}
footer .footer-list > li a img {
  height: 90px;
}
footer .footer-list h6 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  padding-top: 2.25rem;
}
footer li {
  line-height: 1.5rem;
  margin-bottom: 15px;
  color: #FFF;
  list-style-type: none;
  font-size: 0.875rem;
}
footer li a {
  color: inherit;
}
footer .footer-link {
  padding: 0;
  margin: 0;
}
footer .footer-link.contact-info li {
  font-weight: 700;
}
footer .footer-link li {
  position: relative;
}
footer .footer-link li i.fa {
  margin-right: 8px;
}
footer .footer-link li i.fa.fa-mobile {
  font-size: 20px;
}
footer .footer-link li i.fa.fa-envelope {
  font-size: 12px;
}
footer .footer-link li i.fa.fa-map-marker {
  position: absolute;
  left: 0;
  top: 4px;
}
footer .footer-link li.address {
  padding-left: 1.2rem;
}
footer .social-link {
  padding: 0;
  margin-bottom: 2.563rem;
}
footer .social-link li {
  display: inline-block;
  margin-right: 10px;
}
footer .social-link li i.fa {
  color: #FFF;
  font-size: 26px;
}
footer .social-link li:last-child {
  margin-right: 0;
}
footer h5 {
  color: #FFF;
  margin-bottom: 15px;
  font-size: 0.875rem;
  font-weight: 700;
}
footer h5.stay {
  margin-bottom: 6px;
}
footer .subscribe .form-control {
  font-size: 16px;
  font-weight: 400;
  color: "";
  line-height: "";
  width: 190px;
  border: 1px solid;
  border-radius: 0;
}
footer .subscribe .form-control::-moz-placeholder {
  color: #000;
}
footer .subscribe .form-control:-ms-input-placeholder {
  color: #000;
}
footer .subscribe .form-control::placeholder {
  color: #000;
}
footer .subscribe .btn-primary {
  padding: 0 0.8rem;
}
footer .copyright {
  display: flex;
  justify-content: space-between;
  padding: 0 6.75rem;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 0;
}
footer .copyright li {
  list-style-type: none;
  line-height: normal;
  margin-bottom: 0;
  font-size: 0.75rem;
}/*# sourceMappingURL=style.css.map */