@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.theme-light {
  --bodycolor:#fff;
  --maincolor: #970F65;
  --secondarycolor:#D41362;
  --bluecolor: #2071C4;
  --greencolor: #029E6F;
  --lightpink:#FFF3FB;
  --linkcolor: #000;
  --headingcolor:#660562;
  --basefont: "Lato", sans-serif;
  --whitecolor: #FFF;
  --basefontsize: 1rem;
  --DefaultTransition: all 0.5s ease-in-out;
  --textcolor: #000;
}

.theme-dark {
  --bodycolor:#919191;
  --maincolor: #970F65;
  --secondarycolor:#D41362;
  --bluecolor: #2071C4;
  --greencolor: #029E6F;
  --lightpink:#b5b5b5;
  --linkcolor: #fff;
  --headingcolor:#660562;
  --basefont: "Lato", sans-serif;
  --whitecolor: #919191;
  --basefontsize: 1rem;
  --DefaultTransition: all 0.5s ease-in-out;
  --textcolor: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bodycolor);
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: var(--textcolor);
  overflow-x: hidden;
}

::before,
::after {
  font-family: "FontAwesome", serif;
}

.container, .container-lg, .container-md, .container-sm {
  max-width: 1326px !important;
}

a {
  text-decoration: none;
}

.row-zero {
  margin-left: 0;
  margin-right: 0;
}

.row-zero > [class^=col] {
  padding-left: 0;
  padding-right: 0;
}

.row-xxs {
  margin-left: -0.5px;
  margin-right: -0.5px;
}

.row-xxs > [class^=col] {
  padding-left: 1px;
  padding-right: 0.5px;
}

.row-xs {
  margin-left: -2px;
  margin-right: -2px;
}

.row-xs > [class^=col] {
  padding-left: 2px;
  padding-right: 2px;
}

.row-sm {
  margin-left: -15px;
  margin-right: -15px;
}

.row-sm > [class^=col] {
  padding-left: 15px;
  padding-right: 15px;
}

.row-md {
  margin-left: -20px;
  margin-right: -20px;
}

.row-md > [class^=col] {
  padding-left: 20px;
  padding-right: 20px;
}

.row-lg {
  margin-left: -40px;
  margin-right: -40px;
}

.row-lg > [class^=col] {
  padding-left: 40px;
  padding-right: 40px;
}

.no-margin {
  margin-left: 0;
  margin-right: 0;
}

.no-margin > [class^=col] {
  padding-left: 0;
  padding-right: 0;
}

.row-grid {
  margin-bottom: 1rem;
}

.row-grid-2 {
  margin-bottom: 3rem;
}

.row-grid-3 {
  margin-bottom: 2rem;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
}

.btn-primary {
  font-size: 0.875rem;
  font-weight: 700;
  display: inline-block;
  line-height: 40px;
  padding: 0 15px;
  letter-spacing: 0.5px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1;
  border: 0;
  background: #D41362;
  color: #FFF;
  border: 1px solid #D41362;
  transition: all 0.3s;
  position: relative;
}
.btn-primary:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #fff;
  border-radius: 5px;
  z-index: -1;
}
.btn-primary:hover {
  background: var(--whitecolor);
  border: 1px solid var(--maincolor);
  color: var(--maincolor);
}
.btn-primary:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.btn-primary:focus {
  color: var(--maincolor);
  background-color: unset;
  border-color: var(--maincolor);
  box-shadow: unset;
}
.btn-primary.btn-sm {
  width: 230px;
  padding: 0 0.2rem;
  letter-spacing: 0.5px;
  z-index: 1;
}

.btn-outline {
  font-size: 0.875rem;
  font-weight: 700;
  display: inline-block;
  line-height: 40px;
  padding: 0 15px;
  letter-spacing: 0.5px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1;
  border: 0;
  border: 1px solid #FFF;
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}
.btn-outline:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #fff;
  z-index: -1;
}
.btn-outline:hover {
  background: var(--whitecolor);
  color: var(--maincolor);
}
.btn-outline:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.btn-outline:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.bgBlue {
  background: var(--secondarycolor);
}

.btn-secondary {
  font-size: 0.875rem;
  font-weight: 700;
  display: inline-block;
  line-height: 40px;
  padding: 0 15px;
  letter-spacing: 0.5px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1;
  border: 0;
  background-color: transparent;
  color: var(--maincolor);
  overflow: hidden;
  position: relative;
  border: 1px solid #970F65;
  height: 40px;
  display: inline-block;
}
.btn-secondary:hover {
  color: var(--whitecolor);
  background-color: var(--maincolor);
}

.btn-outline-primary {
  border: 1px solid #970F65;
  color: var(--maincolor);
  border-radius: 0;
}
.btn-outline-primary:hover {
  color: #FFF;
  background-color: #043F7D;
  border: 1px solid #043F7D;
}

.card {
  border: 0;
  border-radius: 0;
  background-color: var(--whitecolor);
}
.card figure {
  margin: 0;
  overflow: hidden;
}
.card figure img {
  transition: all 0.5s;
}
.card figure:hover img {
  transform: scale(1.1);
}
.card figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card figure iframe {
  width: 100%;
  height: 100%;
}
.card figure.bigImg {
  height: 390px;
  overflow: hidden;
}
.card figure.bigImg img {
  transition: all 0.5s;
}
.card figure.bigImg:hover img {
  transform: scale(1.1);
}
.card figcaption {
  padding: 1rem;
  height: 210px;
  background: var(--lightpink);
  color: #000;
}
.card figcaption h2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 1rem;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card figcaption p {
  font-size: 1.125rem;
  font-weight: 400;
  display: -webkit-box;
  max-width: 100%;
  height: 46px;
  line-height: 1.3;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card figcaption .cards-dtls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.card figcaption .cards-dtls li {
  list-style-type: none;
  font-size: 0.875rem;
}
.card.typ2 {
  padding-left: 310px;
  position: relative;
  background: var(--lightpink);
  margin-bottom: 30px;
}
.card.typ2 figure {
  width: 310px;
  margin: 0;
  height: 180px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.card.typ2 figure img {
  transition: all 0.5s;
}
.card.typ2 figure:hover img {
  transform: scale(1.1);
}
.card.typ2 figure img {
  width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card.typ2 figcaption {
  height: 180px;
  position: relative;
}
.card.typ2 figcaption .cards-dtls {
  position: absolute;
  bottom: 1rem;
  width: 90%;
}

.lbl-txt {
  font-size: 12px;
  font-weight: 600;
  padding: 0 5px;
  color: #fff;
}
.lbl-txt.secondaryColor {
  background: var(--secondarycolor);
}
.lbl-txt.mainColor {
  background: var(--maincolor);
}
.lbl-txt.blueColor {
  background: var(--bluecolor);
}
.lbl-txt.greenColor {
  background: var(--greencolor);
}

.breadcrumb-nav .breadcrumb {
  padding: 2.125rem 0;
  margin-bottom: 0;
}
.breadcrumb-nav .breadcrumb li {
  font-size: 14px;
  font-weight: 400;
  color: var(--linkcolor);
  line-height: "";
}
.breadcrumb-nav .breadcrumb li a {
  color: #D41362;
  font-weight: 300;
}
.breadcrumb-nav .breadcrumb li a:hover {
  color: #970F65;
}
.breadcrumb-nav .breadcrumb li + li::before {
  padding: 8px;
  color: var(--linkcolor);
  content: "\f105";
}

.theme-dark .home .wrapper .resource {
  filter: saturate(0%) invert(10%);
}

header::after {
  content: "";
  background: url(/resources/images/top-image.png) 0 0 no-repeat;
  height: 100%;
  position: absolute;
  width: 100%;
  background-size: 50%;
  top: 0;
  right: -840px;
  z-index: -9;
}
header.dark .header-top {
  z-index: 9;
  width: 100%;
}
header.dark .header-top .top {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.05);
  transition: 0.5s all ease-in-out;
}
header.dark .header-top .top .custom-top {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
header.dark .header-top .top .custom-top li .font-increament {
  display: flex;
  margin: 5px 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #D41362;
  border-radius: 5px;
  color: var(--secondarycolor);
  justify-content: space-between;
  background-color: var(--whitecolor);
}
header.dark .header-top .top .custom-top li .font-increament li {
  padding: 2px 13px;
  width: 34%;
  font-size: 1rem;
  font-weight: 700;
  height: 30px;
  border-right: 1px solid var(--secondarycolor);
}
header.dark .header-top .top .custom-top li .font-increament li:last-child {
  border-right: 0;
}
header.dark .header-top .top .custom-top li .font-increament li a {
  color: var(--secondarycolor);
}
header.dark .header-top .top .custom-top li .font-increament li:first-child {
  border-radius: 5px 0 0 5px;
}
header.dark .header-top .top .custom-top li .font-increament li.active {
  background-color: var(--linkcolor);
}
header.dark .header-top .top .custom-top li .font-increament li.active a {
  color: var(--whitecolor);
}
header.dark .header-top .top .custom-top .dropdown {
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}
header.dark .header-top .top .custom-top .dropdown .switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 6px 0 6px 6px;
}
header.dark .header-top .top .custom-top .dropdown .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
header.dark .header-top .top .custom-top .dropdown .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}
header.dark .header-top .top .custom-top .dropdown .slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  transition: 0.4s;
  background-image: url("/resources/images/icon/theme-light.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #D41362;
  background-size: 18px 18px;
  background-color: var(--whitecolor);
}
header.dark .header-top .top .custom-top .dropdown input:checked + .slider:before {
  transform: rotate(360deg);
  background-image: url("/resources/images/icon/theme-light.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
  background-color: var(--whitecolor);
}
header.dark .header-top .top .custom-top .dropdown .slider.round {
  border-radius: 34px;
}
header.dark .header-top .top .custom-top .dropdown .slider.round:before {
  border-radius: 50%;
}
header.dark .header-top .top .custom-top .resp-search {
  display: none;
}
header.dark .header-top .navbar {
  padding: 0;
}
header.dark .header-top .navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header.dark .header-top .navbar ul li .navbar-brand img {
  height: 95px;
  transition: 0.5s all ease-in-out;
}
header.dark .header-top .navbar .navbar-nav .nav-item .nav-link {
  color: var(--linkcolor);
  font-size: 1.25rem;
  font-weight: bold;
  padding: 38px 25px;
}
header.dark .header-top .navbar .navbar-nav .nav-item .nav-link:hover {
  background-color: var(--secondarycolor);
  color: var(--whitecolor);
}
header.dark .header-top .navbar .navbar-nav .nav-item .nav-link:active {
  background: var(--secondarycolor);
  color: var(--whitecolor);
}
header.dark .header-top .navbar .navbar-nav .nav-item .sub-menu-block {
  width: 400px;
  background-color: var(--whitecolor);
  background: var(--whitecolor);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
header.dark .header-top .navbar .navbar-nav .nav-item .sub-menu-block a {
  color: var(--linkcolor);
  font-size: 1.125rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}
header.dark .header-top .navbar .navbar-nav .nav-item .sub-menu-block a img {
  width: 40px;
  height: 40px;
  margin-right: 1.438rem;
  position: relative;
}
header.dark .header-top .navbar .navbar-nav .nav-item .sub-menu-block a span {
  position: absolute;
  left: 5rem;
  padding-left: 15px;
  cursor: pointer;
  align-items: center;
}
header.dark .header-top .navbar .navbar-nav .nav-item .sub-menu-block li ul li {
  padding: 1.188rem;
}
header.dark .header-top .navbar .navbar-nav .nav-item .sub-menu-block li ul li.submenu-ship {
  border-bottom: 1px solid #029E6F;
  border-left: 0.75rem solid #D41362;
}
header.dark .header-top .navbar .navbar-nav .nav-item .sub-menu-block li ul li.submenu-diaries {
  border-bottom: 1px solid #D41362;
  border-left: 0.75rem solid #2071C4;
}
header.dark .header-top .navbar .navbar-nav .nav-item .sub-menu-block li ul li.submenu-diaries a img {
  width: 31px;
}
header.dark .header-top .navbar .navbar-nav .nav-item .sub-menu-block li ul li.submenu-leadership {
  border-bottom: 1px solid #970F65;
  border-left: 0.75rem solid #970F65;
}
header.dark .header-top .navbar .navbar-nav .nav-item .sub-menu-block li ul li.submenu-leadership a img {
  width: 37px;
}
header.dark .header-top .navbar .navbar-nav .nav-item .sub-menu-block li ul li.submenu-building {
  border-bottom: 1px solid #2071C4;
  border-left: 0.75rem solid #029E6F;
}
header.dark .header-top .navbar .navbar-nav .navActive:hover {
  background-color: var(--secondarycolor);
}
header.dark .header-top .navbar .social-info {
  display: none;
  padding-left: 25px;
}
header.dark .header-top .navbar .social-info h5 {
  color: #fff;
  font-weight: 400;
  padding: 15px 0;
  font-size: 1rem;
}
header.dark .header-top .navbar .social-info li {
  display: inline-block;
  margin-right: 10px;
}
header.dark .header-top .navbar .social-info li a {
  color: #fff;
}
header.dark .header-top .navbar .social-info li a i {
  font-size: 26px;
  color: #fff;
}
header.dark .header-top .navbar .social-info .contact-info {
  padding: 15px 0;
}
header.dark .header-top .navbar .social-info .contact-info li .fa {
  color: #fff;
  font-size: 20px;
  margin-right: 8px;
}
header.dark .header-top .navbar .social-info .contact-info li .fa.fa-envelope {
  font-size: 12px;
}
header.dark .header-top .navbar .searchbar {
  position: relative;
}
header.dark .header-top .navbar .searchbar input {
  width: 350px;
  height: 50px;
  padding-right: 65px;
}
header.dark .header-top .navbar .searchbar input::-moz-placeholder {
  color: #000;
  font-size: 1.25rem;
}
header.dark .header-top .navbar .searchbar input:-ms-input-placeholder {
  color: #000;
  font-size: 1.25rem;
}
header.dark .header-top .navbar .searchbar input::placeholder {
  color: #000;
  font-size: 1.25rem;
}
header.dark .header-top .navbar .searchbar input:focus {
  color: unset;
  border-color: unset;
  box-shadow: unset;
  border: 1px solid #ced4da;
}
header.dark .header-top .navbar .searchbar a .search-icon-input {
  width: 3.125rem;
  height: 3.125rem;
  background: var(--secondarycolor);
  top: 0;
  right: 0;
  border-radius: 0px 5px 5px 0;
  position: absolute;
  z-index: 2;
  display: block;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  color: var(--whitecolor);
  font-size: 30px;
}
header.dark .header-top .navbar .searchbar a .search-icon-input:hover {
  background-color: var(--maincolor);
  color: var(--whitecolor);
}
header.dark .header-top .navbar .searchbar a .search-icon-input::-moz-placeholder {
  font-size: 16px;
}
header.dark .header-top .navbar .searchbar a .search-icon-input:-ms-input-placeholder {
  font-size: 16px;
}
header.dark .header-top .navbar .searchbar a .search-icon-input::placeholder {
  font-size: 16px;
}
header.dark .header-top .navbar .searchbar .fa {
  display: none;
  position: absolute;
  top: -6px;
  right: -100px;
  z-index: 9;
  color: #fff;
}
header.dark.fixed-header {
  background: var(--whitecolor);
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 0px -3px 9px 0px #000;
  height: auto;
  width: 100%;
}
header.dark.fixed-header::after {
  background: none;
}
header.dark.fixed-header .navbar ul li .navbar-brand img {
  height: 80px;
}

.inner-page.custom-details header.dark.fixed-header::after {
  background: none;
}

footer {
  position: relative;
  padding: 2.5rem 0 1.75rem;
  background-color: var(--maincolor);
  margin-top: 3.125rem;
}
footer .footer-list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 7rem;
  flex-wrap: wrap;
}
footer .footer-list > li {
  list-style-type: none;
}
footer .footer-list > li:nth-child(1) {
  width: 24%;
}
footer .footer-list > li a img {
  height: 90px;
}
footer .footer-list h6 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  padding-top: 2.25rem;
}
footer li {
  line-height: 1.5rem;
  margin-bottom: 15px;
  color: #fff;
  list-style-type: none;
  font-size: 0.875rem;
}
footer li a {
  color: #fff;
}
footer li a:hover {
  color: #000;
}
footer .footer-link {
  padding: 0;
  margin: 0;
}
footer .footer-link.contact-info li {
  font-weight: 700;
}
footer .footer-link li {
  position: relative;
}
footer .footer-link li i.fa {
  margin-right: 8px;
}
footer .footer-link li i.fa.fa-mobile {
  font-size: 20px;
}
footer .footer-link li i.fa.fa-envelope {
  font-size: 12px;
}
footer .footer-link li i.fa.fa-map-marker {
  position: absolute;
  left: 0;
  top: 4px;
}
footer .footer-link li.address {
  padding-left: 1.2rem;
}
footer .social-link {
  padding: 0;
  margin-bottom: 2.563rem;
}
footer .social-link li {
  display: inline-block;
  margin-right: 10px;
}
footer .social-link li i.fa {
  color: #fff;
  font-size: 26px;
}
footer .social-link li i.fa:hover {
  color: #000;
}
footer .social-link li:last-child {
  margin-right: 0;
}
footer h5 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 0.875rem;
  font-weight: 700;
}
footer h5.stay {
  margin-bottom: 6px;
}
footer .copyright {
  display: flex;
  justify-content: space-between;
  padding: 0 6.75rem;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 0;
}
footer .copyright li {
  list-style-type: none;
  line-height: normal;
  margin-bottom: 0;
  font-size: 0.75rem;
}

.home .wrapper {
  padding-top: 0;
}
.home .wrapper .banner .banner-info {
  padding: 5.063rem 0rem 5.063rem 5.063rem;
  position: relative;
  display: flex;
  list-style-type: none;
  margin: 0;
}
.home .wrapper .banner .banner-info h1 {
  color: var(--headingcolor);
  font-weight: 700;
  padding-bottom: 1rem;
}
.home .wrapper .banner .banner-info p {
  font-size: 1.875rem;
  color: var(--linkcolor);
  font-weight: 300;
  width: 650px;
}
.home .wrapper .banner .banner-info p b {
  color: var(--maincolor);
}
.home .wrapper .banner .banner-info img {
  position: absolute;
  bottom: -10px;
  right: 0;
}
.home .wrapper .resource {
  background-image: url(/resources/images/resource.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 462px;
  width: 100%;
  background-size: cover;
  position: relative;
}
.home .wrapper .resource .resource-img img {
  width: 100%;
  max-height: 462px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.home .wrapper .resource .resource-hub {
  position: absolute;
  bottom: -39%;
}
.home .wrapper .resource .resource-hub ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}
.home .wrapper .resource .resource-hub ul li {
  text-align: center;
  width: 330px;
  padding: 1rem;
}
.home .wrapper .resource .resource-hub ul li.shilp-program {
  background-color: var(--secondarycolor);
}
.home .wrapper .resource .resource-hub ul li.shilp-program figure .icon {
  background-color: var(--secondarycolor);
}
.home .wrapper .resource .resource-hub ul li.cbo-diaries {
  background-color: var(--bluecolor);
}
.home .wrapper .resource .resource-hub ul li.cbo-diaries figure .icon {
  background-color: var(--bluecolor);
}
.home .wrapper .resource .resource-hub ul li.leadership-development {
  background-color: var(--maincolor);
}
.home .wrapper .resource .resource-hub ul li.leadership-development figure .icon {
  background-color: var(--maincolor);
}
.home .wrapper .resource .resource-hub ul li.inst-building {
  background-color: var(--greencolor);
}
.home .wrapper .resource .resource-hub ul li.inst-building figure .icon {
  background-color: var(--greencolor);
}
.home .wrapper .resource .resource-hub ul li figure {
  position: relative;
}
.home .wrapper .resource .resource-hub ul li figure .icon {
  position: absolute;
  top: -27%;
  left: 50%;
  border-radius: 50%;
  padding: 0;
  width: 120px;
  height: 120px;
  transform: translateX(-50%);
}
.home .wrapper .resource .resource-hub ul li figure .icon img {
  width: auto;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home .wrapper .resource .resource-hub ul li figure figcaption h4 {
  font-size: 1.625rem;
  color: #FFF;
  font-weight: bold;
  padding-top: 3.2rem;
}
.home .wrapper .resource .resource-hub ul li figure figcaption p {
  color: #FFF;
  padding-top: 1.25rem;
  font-weight: 400;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.home .wrapper .resource .resource-hub ul li figure figcaption .text-center {
  padding-top: 1.875rem;
}
.home .wrapper .resource .resource-hub ul li figure figcaption .text-center .btn-outline {
  padding: 0 11px;
}
.home .wrapper .featured-resources {
  padding-top: 13rem;
}
.home .wrapper .featured-resources .heading {
  text-align: center;
  margin-bottom: 1.063rem;
}
.home .wrapper .featured-resources .heading h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--maincolor);
}
.home .wrapper .featured-resources .heading p {
  font-size: 1.5rem;
  width: 723px;
  font-weight: 400;
  margin: 0 auto;
}
.home .wrapper .featured-resources .card figure span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home .wrapper .featured-resources .card figure span img {
  width: 35px;
  height: 35px;
}
.home .wrapper .featured-resources .card figcaption .cards-dtls .article {
  height: 1.25rem;
}
.home .wrapper .about-program {
  position: relative;
  margin-top: 17rem;
}
.home .wrapper .about-program figure {
  position: absolute;
  top: -43%;
  left: 50%;
  transform: translateX(-50%);
}
.home .wrapper .about-program figure img {
  box-shadow: rgba(1, 0, 0, 0.5) 0px 2px 8px 0px;
  border-radius: 10px;
}
.home .wrapper .about-program figure span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.home .wrapper .about-program figcaption {
  text-align: center;
  background-color: var(--secondarycolor);
  height: auto;
  padding-top: 19rem;
  color: #fff;
  padding-bottom: 3.188rem;
}
.home .wrapper .about-program figcaption h4 {
  font-size: 2.5rem;
  font-weight: 700;
}
.home .wrapper .about-program figcaption p {
  font-size: 1.125rem;
  width: 599px;
  margin: 1.4rem auto;
}

.list-resources .wrapper .breadcrumb-nav .breadcrumb {
  padding: 2.125rem 0;
  margin-bottom: 0;
}
.list-resources .wrapper .breadcrumb-nav .breadcrumb li {
  font-size: 14px;
  font-weight: 400;
  color: var(--linkcolor);
  line-height: "";
}
.list-resources .wrapper .breadcrumb-nav .breadcrumb li a {
  color: #D41362;
  font-weight: 300;
}
.list-resources .wrapper .breadcrumb-nav .breadcrumb li a:hover {
  color: #970F65;
}
.list-resources .wrapper .breadcrumb-nav .breadcrumb li + li::before {
  padding: 8px;
  color: var(--linkcolor);
  content: "\f105";
}
.list-resources .wrapper .searchresult {
  padding: 20px 0;
}
.list-resources .wrapper .searchresult .custom-col {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.list-resources .wrapper .searchresult .custom-col .left-column {
  min-width: 310px;
  transition: all 0.5s ease-in-out;
  border: 1px solid #D8D8D8;
  height: 100%;
}
.list-resources .wrapper .searchresult .custom-col .left-column.open {
  height: 100vh;
  transition: all 0.5s ease-in-out;
  background-color: #fff;
}
.list-resources .wrapper .searchresult .custom-col .left-column.open .filter-details {
  display: inline-block;
}
.list-resources .wrapper .searchresult .custom-col .left-column.open .apply-filter {
  display: flex;
  justify-content: center;
  background-color: #F6F6F6;
  border-bottom: 1px solid #E6E6E6;
}
.list-resources .wrapper .searchresult .custom-col .left-column.open .apply-filter .apply .btn-apply {
  margin-right: 1rem;
}
.list-resources .wrapper .searchresult .custom-col .left-column .checkbox.extra-text {
  padding-bottom: 15px;
}
.list-resources .wrapper .searchresult .custom-col .left-column .checkbox .styled-checkbox {
  position: absolute;
  opacity: 0;
}
.list-resources .wrapper .searchresult .custom-col .left-column .checkbox .styled-checkbox + label {
  position: relative;
  cursor: pointer;
  margin-bottom: 14px;
  font-size: 1rem;
  color: var(--linkcolor);
  display: flex;
  align-items: center;
}
.list-resources .wrapper .searchresult .custom-col .left-column .checkbox .styled-checkbox + label p {
  position: absolute;
  top: 0;
  left: 29px;
}
.list-resources .wrapper .searchresult .custom-col .left-column .checkbox .styled-checkbox + label span {
  font-size: 12px;
}
.list-resources .wrapper .searchresult .custom-col .left-column .checkbox .styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background: white;
  border: 1px solid #707070;
  border-radius: 4px;
}
.list-resources .wrapper .searchresult .custom-col .left-column .checkbox .styled-checkbox:checked + label:before {
  background: #0066ff;
  border: 1px solid #0066ff;
}
.list-resources .wrapper .searchresult .custom-col .left-column .checkbox .styled-checkbox:disabled + label {
  color: #666666;
  cursor: auto;
}
.list-resources .wrapper .searchresult .custom-col .left-column .checkbox .styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.list-resources .wrapper .searchresult .custom-col .left-column .checkbox .styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 10px;
  background: #FFF;
  width: 3px;
  height: 3px;
  box-shadow: 2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -8px 0 #fff;
  transform: rotate(45deg);
  border: none;
}
.list-resources .wrapper .searchresult .custom-col .left-column .checkbox.topic .styled-checkbox + label {
  font-weight: 700;
}
.list-resources .wrapper .searchresult .custom-col .left-column .checkbox.topic .styled-checkbox:checked + label:before {
  background: var(--secondarycolor);
  border: 1px solid var(--secondarycolor);
}
.list-resources .wrapper .searchresult .custom-col .left-column .checkbox.development .styled-checkbox + label {
  font-weight: 700;
}
.list-resources .wrapper .searchresult .custom-col .left-column .checkbox.development .styled-checkbox:checked + label:before {
  background: var(--maincolor);
  border: 1px solid var(--maincolor);
}
.list-resources .wrapper .searchresult .custom-col .left-column .checkbox.building .styled-checkbox + label {
  font-weight: 700;
}
.list-resources .wrapper .searchresult .custom-col .left-column .checkbox.building .styled-checkbox:checked + label:before {
  background: var(--greencolor);
  border: 1px solid var(--greencolor);
}
.list-resources .wrapper .searchresult .custom-col .left-column .load-more {
  color: #970F65;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  display: block;
  padding-bottom: 20px;
}
.list-resources .wrapper .searchresult .custom-col .left-column .load-more span {
  border-bottom: 1px solid #970F65;
}
.list-resources .wrapper .searchresult .custom-col .left-column .applied-filter {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  background-color: var(--whitecolor);
  padding: 0.8rem 1rem;
  border-bottom: 1px solid #E6E6E6;
  align-items: center;
}
.list-resources .wrapper .searchresult .custom-col .left-column .applied-filter .fa-filter {
  display: none;
}
.list-resources .wrapper .searchresult .custom-col .left-column .applied-filter h4 {
  color: var(--textcolor);
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0;
}
.list-resources .wrapper .searchresult .custom-col .left-column .applied-filter .btn-outline {
  color: #D41362;
  font-size: 0.75rem;
  cursor: pointer;
  border: 1px solid #D41362;
  font-weight: 700;
  line-height: 30px;
}
.list-resources .wrapper .searchresult .custom-col .left-column .applied-filter .btn-outline::before {
  background-color: var(--maincolor);
  border: 1px solid var(--maincolor);
}
.list-resources .wrapper .searchresult .custom-col .left-column .applied-filter .btn-outline:hover {
  background-color: #970F65;
  color: #fff;
  border: 1px solid var(--maincolor);
}
.list-resources .wrapper .searchresult .custom-col .left-column .filter-details {
  background-color: var(--whitecolor);
  padding: 20px 16px;
}
.list-resources .wrapper .searchresult .custom-col .left-column .filter-details .close {
  display: none;
}
.list-resources .wrapper .searchresult .custom-col .left-column .filter-details .fliter-text h4 {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--linkcolor);
  line-height: "";
  text-transform: capitalize;
  margin-bottom: 15px;
}
.list-resources .wrapper .searchresult .custom-col .left-column .filter-details .catergories:last-child {
  border-bottom: 0;
}
.list-resources .wrapper .searchresult .custom-col .left-column .filter-details .catergories .mycheck {
  overflow: hidden;
}
.list-resources .wrapper .searchresult .custom-col .left-column .filter-details .catergories .mycheck.submenu {
  padding-left: 2rem;
}
.list-resources .wrapper .searchresult .custom-col .left-column .filter-details .catergories .mycheck.submenu .styled-checkbox + label {
  font-weight: 400;
}
.list-resources .wrapper .searchresult .custom-col .left-column .filter-details .catergories .mycheck.for-height {
  height: auto !important;
}
.list-resources .wrapper .searchresult .custom-col .left-column .filter-details .catergories .mycheck.open {
  height: 200px;
  overflow-y: scroll;
}
.list-resources .wrapper .searchresult .custom-col .left-column .filter-details .catergories .mycheck.open::-webkit-scrollbar {
  width: 8px;
}
.list-resources .wrapper .searchresult .custom-col .left-column .filter-details .catergories .mycheck.open::-webkit-scrollbar-thumb {
  background: #0B2138;
  border-radius: 10px;
  height: 10px;
  width: 5px;
}
.list-resources .wrapper .searchresult .custom-col .left-column .filter-details .catergories .mycheck.open::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #232A35;
  border-radius: 10px;
}
.list-resources .wrapper .searchresult .custom-col .left-column .filter-details .compadding {
  padding-top: 20px;
}
.list-resources .wrapper .searchresult .custom-col .left-column .apply-filter {
  display: none;
}
.list-resources .wrapper .searchresult .custom-col .left-column .apply-filter .cancle .btn-outline {
  border: 1px solid var(--secondarycolor);
  color: var(--secondarycolor);
}
.list-resources .wrapper .searchresult .custom-col .middle-column {
  width: 100%;
  padding-left: 30px;
}
.list-resources .wrapper .searchresult .custom-col .middle-column ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list-resources .wrapper .searchresult .custom-col .middle-column ul .item {
  display: none;
}
.list-resources .wrapper .searchresult .custom-col .middle-column ul .item .card {
  margin-bottom: 1.875rem;
  max-width: 310px;
  width: 100%;
}
.list-resources .wrapper .searchresult .custom-col .middle-column ul .item .card figure {
  border: 1px solid var(--lightpink);
}
.list-resources .wrapper .searchresult .custom-col .middle-column ul .item .card figure span {
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.list-resources .wrapper .searchresult .custom-col .middle-column ul .item .card figure span img {
  width: 35px;
  height: 35px;
}
.list-resources .wrapper .searchresult .custom-col .middle-column ul .item .card figcaption {
  height: auto;
}
.list-resources .wrapper .searchresult .custom-col .middle-column ul .item .card figcaption .lbl-txt {
  background-color: var(--secondarycolor);
}
.list-resources .wrapper .searchresult .custom-col .middle-column ul .item .card figcaption h2 {
  height: 45px;
}
.list-resources .wrapper .searchresult .custom-col .middle-column ul .item .card figcaption .cards-dtls .icon {
  height: 1.25rem;
}
.list-resources .wrapper .searchresult .custom-col .middle-column .btn-load-more {
  text-align: center;
}
.list-resources .wrapper .searchresult .custom-col .middle-column .btn-load-more a {
  transition: 0.3s;
}
.list-resources .wrapper .searchresult .custom-col .middle-column .noContent {
  color: var(--linkcolor) !important;
  background-color: transparent !important;
  pointer-events: none;
}

.inner-page .list .heading {
  width: 849px;
}
.inner-page .list .heading h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #660562;
}
.inner-page .list .heading p {
  font-size: 1.125rem;
  font-weight: 400;
}
.inner-page .resource-program {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}
.inner-page .resource-program .program {
  display: flex;
  justify-content: space-between;
}
.inner-page .resource-program .program .program-info ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}
.inner-page .resource-program .program .program-info ul li .lbl-txt.mainColor {
  background: var(--secondarycolor);
  width: 75px;
  height: 26px;
  font-size: 1rem;
  font-weight: 700;
  padding: 0 8px;
}
.inner-page .resource-program .program .program-info ul li h6 {
  font-size: 1rem;
  font-weight: 700;
  padding-left: 0.625rem;
  display: inline-block;
  margin: 0;
  line-height: normal;
  vertical-align: middle;
}
.inner-page .resource-program .program .share .social-link {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding: 0;
}
.inner-page .resource-program .program .share .social-link li {
  margin-right: 0.5rem;
}
.inner-page .resource-program .program .share .social-link li:last-child {
  margin-right: 0;
}
.inner-page .resource-program .program .share .social-link li span {
  font-size: 0.875rem;
  font-weight: 700;
}
.inner-page .resource-program .program .share .social-link li a {
  border: 1px solid var(--secondarycolor);
  background-color: var(--whitecolor);
  text-align: center;
  width: 33px;
  height: 33px;
  border-radius: 100%;
  display: flex;
  align-items: flex-start;
}
.inner-page .resource-program .program .share .social-link li a:hover {
  border: 1px solid var(--whitecolor);
  background-color: var(--maincolor);
  color: var(--whitecolor);
}
.inner-page .resource-program .program .share .social-link li a:hover i {
  color: var(--whitecolor);
}
.inner-page .resource-program .program .share .social-link li a i {
  color: var(--secondarycolor);
  font-size: 1.125rem;
  align-self: center;
  margin: 0 auto;
}
.inner-page .resource-program .program .share .social-link li a i:hover {
  color: var(--whitecolor);
}
.inner-page .resource-program .info .cards-dtls {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.inner-page .resource-program .info .cards-dtls li {
  list-style-type: none;
  font-size: 1rem;
  padding-right: 1rem;
  font-weight: 700;
}
.inner-page .resource-program .info .cards-dtls li i {
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  color: #000;
}
.inner-page .resource-program .info .cards-dtls li span {
  font-weight: 400;
}
.inner-page .resource-program .info .cards-dtls li img {
  height: 1.25rem;
}
.inner-page .resource-program .mission .heading {
  margin-top: 1.438rem;
  margin-bottom: 2.688rem;
}
.inner-page .resource-program .mission .heading h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #660562;
}
.inner-page .resource-program .mission .mission-info {
  padding-bottom: 84px;
}
.inner-page .resource-program .mission .mission-info .img img {
  width: 100%;
}
.inner-page .resource-program .mission .mission-info .mission-text {
  margin-top: 2.875rem;
}
.inner-page .resource-program .mission .mission-info .mission-text p {
  font-size: 1.125rem;
}
.inner-page .resource-program .mission .source h6 {
  font-size: 1.5rem;
  font-weight: 700;
}
.inner-page .resource-program .mission .source ul {
  padding-left: 1.5rem;
  list-style-type: disc;
}
.inner-page .resource-program .mission .source ul li {
  font-size: 1.125rem;
  margin-bottom: 1rem;
  color: var(--secondarycolor);
}
.inner-page .resource-program .mission .source ul li a {
  color: var(--secondarycolor);
}
.inner-page .resource-program .mission .source ul li a:hover {
  color: var(--maincolor);
}
.inner-page .resource-program .mission .source ul li::marker {
  font-size: 1.5rem;
}
.inner-page .related-resources {
  background-color: #F7F7F7;
  padding-top: 19px;
  padding-bottom: 50px;
}
.inner-page .related-resources .heading {
  margin: 1.438rem 0;
}
.inner-page .related-resources .heading h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #660562;
}
.inner-page .related-resources ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.inner-page .related-resources ul li .card {
  margin-bottom: 1.875rem;
}
.inner-page .related-resources ul li .card figure span {
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inner-page .related-resources ul li .card figure span img {
  width: 35px;
  height: 35px;
}
.inner-page .related-resources ul li .card figcaption {
  height: auto;
}
.inner-page .related-resources ul li .card figcaption .lbl-txt {
  background-color: var(--secondarycolor);
}
.inner-page .related-resources ul li .card figcaption h2 {
  height: 45px;
}
.inner-page .related-resources ul li .card figcaption .cards-dtls li {
  display: flex;
  align-items: center;
}
.inner-page .related-resources ul li .card figcaption .cards-dtls li .icon {
  height: 1.25rem;
  width: auto;
  margin-right: 5px;
}
.inner-page .related-resources ul li .card figcaption .cards-dtls li i {
  margin-right: 5px;
}
.inner-page .related-resources .owl-nav {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  width: 100%;
}
.inner-page .related-resources .owl-nav button {
  background-color: var(--secondarycolor);
  border-radius: 100%;
  width: 36px;
  height: 36px;
  border: 1px solid #fff;
}
.inner-page .related-resources .owl-nav button span {
  display: none;
}
.inner-page .related-resources .owl-nav .owl-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFF;
  position: absolute;
  left: -17px;
  top: -32px;
}
.inner-page .related-resources .owl-nav .owl-prev::before {
  content: "\f060";
  color: #fff;
}
.inner-page .related-resources .owl-nav .owl-next {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFF;
  position: absolute;
  right: -17px;
  top: -32px;
}
.inner-page .related-resources .owl-nav .owl-next::before {
  content: "\f061";
  color: white;
}

.custom-details .resource-program .program .program-info ul li .lbl-txt.mainColor {
  width: auto;
}
.custom-details .resource-program .mission .heading {
  margin-top: 0;
  margin-bottom: 1.25rem;
}
.custom-details .resource-program .mission .mission-info {
  padding-bottom: 40px;
}
.custom-details .resource-program .mission .mission-info .mission-text {
  margin-top: 20px;
}
.custom-details .resource-program .mission .mission-info .fondation-img ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}
.custom-details .resource-program .mission .mission-info .fondation-img ul li {
  margin-bottom: 1.375rem;
}
.custom-details .resource-program .mission .mission-info .foundation-text p {
  font-size: 1.125rem;
}
.custom-details .resource-program .mission .mission-info .foundation-video {
  position: relative;
}
.custom-details .resource-program .mission .mission-info .foundation-video span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.custom-details .resource-program .mission .mission-info .foundation-text-video {
  margin-top: 30px;
}
.custom-details .resource-program .mission .mission-info .foundation-text-video p {
  font-size: 1.125rem;
}
.custom-details .resource-program .mission .mission-info .help ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.custom-details .related-resources {
  padding-bottom: 51px;
}
.custom-details .related-resources ul li .card {
  margin-bottom: 0;
}

.diaries-info .list .heading p {
  margin: 0;
}
.diaries-info .filters .filters-data {
  padding-top: 40px;
}
.diaries-info .filters .filters-data ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0;
}
.diaries-info .filters .filters-data ul span {
  padding-right: 5px;
}
.diaries-info .filters .filters-data ul li {
  border-radius: 3px;
  font-weight: 700;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid var(--secondarycolor);
  text-align: center;
  line-height: 27px;
  text-transform: uppercase;
  cursor: pointer;
}
.diaries-info .filters .filters-data ul li a {
  color: var(--secondarycolor);
}
.diaries-info .filters .filters-data ul li.active {
  background-color: var(--secondarycolor);
  color: var(--whitecolor);
}
.diaries-info .filters .filters-data ul li.active a {
  color: var(--whitecolor);
}
.diaries-info .filters .filters-data ul li.all {
  width: 46px;
}
.diaries-info .filters-card {
  padding-top: 1.875rem;
}
.diaries-info .filters-card ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.diaries-info .filters-card ul .item {
  display: none;
}
.diaries-info .filters-card ul .item .card {
  padding-bottom: 30px;
  width: 100%;
  max-width: 310px;
}
.diaries-info .filters-card ul .item .card figure {
  border: 1px solid var(--lightpink);
}
.diaries-info .filters-card ul .item .card figcaption {
  height: 82px;
  padding: 0.3rem 1rem 0.3rem 1rem;
}
.diaries-info .filters-card .btn-load-more {
  text-align: center;
}/*# sourceMappingURL=style.css.map */